<div class="_form-content p-5" style="border: solid gray 1px; border-radius: 5px;">
    <div class="_form_element _x51562960 _full_width _clear" >
        <div class="_form-title">
            Welcome to our community...
        </div>
    </div>
    <div class="_form_element _x12826382 _full_width _clear" >
        <div class="_html-code">
            <p>
                Most visitors are interested in hearing more, so we reach out with a weekly newsletter and occasional updates to let you know about upcoming events, webinars and resources.
            </p>
            <p>
                Pop your best email address in the form to join our little community:
            </p>
        </div>
        <div class="mv-form" data-formtype="2" data-what="list" data-btnclass="mv-btn-primary">this is the button legend</div>
    </div>
</div>