<div class="_form-content p-5" style="border: solid gray 1px; border-radius: 5px; width: 100%; max-width: 700px; margin: auto;">
    <p>
        <strong>Welcome to our community...</strong>
    </p>
    <p>
        Most visitors are interested in hearing more, so we reach out with a weekly newsletter and occasional updates to let you know about upcoming events, webinars and resources.
    </p>
    <p>
        Pop your best email address in the form to join our little community:
    </p>
    <div class="mv-form" data-formtype="1" data-what="list" data-btnclass="mv-btn-primary">yes please - I want this</div>
</div>