<div class="_form-content p-5" style="border: solid gray 1px; border-radius: 5px; width: 100%; max-width: 700px; margin: auto;">
    <p>
        <strong>Welcome to our community...</strong>
    </p>
    <p>
        Most visitors are interested in hearing more, so we reach out with a weekly newsletter and occasional updates to let you know about upcoming events, webinars and resources.
    </p>
    <p>
        Pop your best email address in the form to join our little community:
    </p>
    <div class="mv-form" data-formtype="2" data-what="list" data-btnclass="mv-btn-primary">yes please - I want this</div>
    <table style="font-style: italic;">
        <tr>
            <td>
                <p>
                    <strong>PS:</strong>
                </p>
            </td>
            <td>
                <p>
                    Just to say we truly appreciate your interest in our work - so we have some free gifts to share to say thank you.
                </p>
                <p>
                    When you've joined our list, keep an eye out for an email with the subject "Welcome Aboard" - the link to your first gift is in there...
                </p>
            </td>
        </tr>
    </table>
</div>