<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to our community!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="m-auto mt-5 p-2 p-md-5" style="max-width: 800px; border: solid gray 1px; border-radius: 5px;">
                <p>
                    {{ now | date("d F Y") }}
                </p>
                <p class="mb-4">
                    From the desk of Jim Pirrie
                </p>

                <img class="float-start w-25 me-5 mb-3"  style="box-shadow: 5px 5px 20px 2px gray;" src="/_images/JimPirrie-87_300.png">
                <p>
                    Thank you for your interest in our work here!
                </p>
                <p>
                    We've sent you a welcome email, so please check your inbox for an email entitled "Welcome Aboard".
                </p>
                <p>
                    If it's not there in a couple of minutes, please check your spam folder, and make sure you whitelist our email address so you don't miss out!
                </p>
                <p>
                    Why?
                </p>
                <p>
                    Well, we'd love to say thanks for taking the time to join our community, we have three free gifts for you.
                </p>
                <p>
                    We've sent you FREE GIFT #1 is in your "Welcome Aboard" email.
                </p>
                <p>
                    FREE GIFT #2 will be in your inbox {{ tomorrow }}.
                </p>
                <p>
                    And on {{ dayAfterTomorrow }}, keep your eyes open for FREE GIFT #3!
                </p>
                <p>
                    In the meantime, remember to follow Jim Pirrie on your favourite platforms:
                </p>
                <p>
                    Welcome aboard!
                </p>
                <div class="text-end">
                    <img class="" style="height: 80px;" src="/_images/Jim-underline-black-high-res.png">
                </div>
                <div style="clear: both;"></div>
                <div class="mt-5">
                    <p class="text-center">
                        PS: Remember to follow Jim Pirrie on your favourite channel:
                    </p>
                    <table class="mx-auto">
                        <tr>
                            <td>
                                <div class="addthis_inline_follow_toolbox_t2hu"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
<div style="height: 300px;"></div>