<div class="row">
    <div class="col pl-0 pr-3">
        <div class="px-5" style="background-color: whitesmoke; border-radius: 5px; padding-bottom: 150px;">
            <h1>{{ post.title }}</h1>
            <div class="blog-byline">
                <div class="blog-authorImg">
                    <img class="img-fluid" src="/_images/JimPirrie-52_circle_300.png">
                </div>
                <div class="blog-lede">
                    "{{ post.seoDescription }}"
                    <div class="text-right">
                        <img style="height: 80px;" src="/_images/Jim-underline-black-high-res.png">
                    </div>
                </div>
                <div style="clear: both; height: 30px;"></div>
            </div>
            <div>
                {{ post.body | raw }}
            </div>
        </div>
    </div>
</div>