<div class="row">
    <div class="col">
        {% for post in posts %}
            {% if post.featured %}
                {{ post.seoTitle }}
                <div class="box-16x9">
                    <div class="box-inner">
                        <div class="box-content" style="background-image: url('/_images/{{ post.seoImage }}'); background-size: contain; background-repeat: no-repeat;background-position: center;">
                        </div>
                    </div>
                </div>
                {{ post.seoDescription }}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div style="height: 150px;"></div>