<div class="row">
    <div class="col pl-0 pr-3">
        <div class="px-5" style="background-color: whitesmoke; border-radius: 5px; padding-bottom: 150px;">
            <h1>{{ post.title }}</h1>
            <div class="blog-byline">
                <div class="blog-authorImg">
                    <img class="img-fluid" src="/_images/JimPirrie-52_circle_300.png">
                </div>
                <div class="blog-lede">
                    "{{ post.seoDescription }}"
                    <div class="py-3 pl-5">
                        <img style="height: 80px;" src="/_images/Jim-underline-black-high-res.png">
                    </div>
                    <table style="font-size: 16px;">
                        <tr>
                            <td rowspan="2" style="width: 0;" class="align-top pr-3">
                                <strong>PS:</strong>
                            </td>
                            <td>
                                Please share this with your colleagues and friends...
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center pt-2">
                                <div class="addthis_inline_share_toolbox_rlvb"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both; height: 30px;"></div>
            </div>
            <div>
                {{ post.body | raw }}
            </div>
        </div>
    </div>
</div>