<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <link rel="canonical" href="" />
    <meta property="fb:app_id" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:url" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">

    <!-- JQuery and Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b118b1b380.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/_css/styles.css">

</head>
<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><img style="height: 100px;" src="/_images/JimPirrieCoaching_Logo_Large_white.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right mt-md-5" id="navbarNavDropdown">
                <ul class="navbar-nav mr-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown" data-dropdownMenu="pdc" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle">
                            Professional Development Coaching
                        </a>
                        <div class="dropdown-menu" id="pdc">
                            <a class="dropdown-item" href="#">FREE MINICOURSE</a>
                            <a class="dropdown-item" href="#">About Professional development Coaching</a>
                            <a class="dropdown-item" href="#">The "Professional Development Coaching" Blog</a>
                            <a class="dropdown-item" href="https://www.linkedin.com/in/jimpirrie/"><i style="color: dodgerblue;" class="fa-brands fa-linkedin"></i> LinkedIn</a>
                            <a class="dropdown-item" href="https://facebook.com/jimpirriemarketing"><i style="color: dodgerblue;" class="fa-brands fa-facebook-square"></i> Facebook @jimpirriecoaching</a>
                            <a class="dropdown-item" href="https://www.youtube.com/channel/UCCy7hayx43k3m9Jc2x9BzWA"><i class="fa-brands fa-youtube" style="color: red;"></i> youtube/</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" data-dropdownMenu="mcc" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle">
                            Marketing Coaching for Coaches
                        </a>
                        <div class="dropdown-menu" id="mcc">
                            <a class="dropdown-item" href="#">FREE MINICOURSE</a>
                            <a class="dropdown-item" href="https://marketingcoachingforcoaches.jimpirrie.com">About Marketing Coaching for Coaches</a>
                            <a class="dropdown-item" href="https://marketingcoachingforcoaches.jimpirrie.com">The "Marketing Coaching for Coaches" Blog</a>
                            <a class="dropdown-item" href="https://facebook.com/jimpirriemarketing"><i style="color: dodgerblue;" class="fa-brands fa-facebook-square"></i> Facebook @jimpirriemarketing</a>
                            <a class="dropdown-item" href="https://www.youtube.com/channel/UCVlI1_kXMneMOmO9SfbVLbA"><i class="fa-brands fa-youtube" style="color: red;"></i> youtube/</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color: lightgrey; height: 1px;"></div>
    </div>
</div>
{% block content %}{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <hr>
                <p class="text-center pt-2">
                    Copyright &copy; Jim Pirrie Limited 2001-2022
                </p>
                <p class="text-center">
                    Registered as Company number 04294627 in England and Wales, VAT Number 785 1095 10
                </p>
                <p class="text-center">
                    <a href="/privacy">privacy policy</a> :: <a href="/website-terms-of-use">website terms of use</a> :: <a href="/terms-and-conditions">terms and conditions of business</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    // manage hover/mouse enter behaviour

    $(".nav-item").mouseenter(function(e){

        e.stopPropagation();

        $(".dropped").removeClass("dropped");

        if($(this).hasClass("dropdown")){

            var menuId = $(this).attr("data-dropdownMenu");

            $("#" + menuId).show("slow");
            $("#" + menuId).addClass("dropped");

        }

        $(".nav-item").each(function(){

            var thisId = $(this).attr("data-dropdownMenu");

            if(thisId != menuId){

                $("#" + thisId).hide("slow");
            }
        });
    });

    //detect if nav-item has been clicked, rather than doc body

    var clickedItem = 0;

    $(".nav-item").click(function(){

        clickedItem = this;

    });

    // manage click behaviour: if DD is showing, detect document click, otherwise detect item click

    $(document).click(function(){

        console.log(clickedItem);

        if(clickedItem){

            if($(".dropped")[0]) {

                $(".dropdown-menu").hide("slow");
                $(".dropped").removeClass("dropped");
            }
            else{

                $(clickedItem).addClass("dropped");
                $(clickedItem).children(".dropdown-menu").show("slow");
            }
        }
        else{

            $(".dropdown-menu").hide("slow");
            $(".dropped").removeClass("dropped");
        }

        clickedItem = 0;
    });

</script>
</body>
</html>