<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <link rel="canonical" href="" />
    <meta property="fb:app_id" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:url" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">

    <!-- JQuery and Bootstrap -->
    <!--<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> //unused -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <!-- FontAwesome -->
    <script defer src="https://kit.fontawesome.com/b118b1b380.js" crossorigin="anonymous"></script>

    <!-- Google Fonts loaded locally -->
    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    -->
    <!-- Styles -->
    <link rel="preload" href="/_css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="styles.css"></noscript>
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></noscript>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class="col">
                <a href="/"><img style="height: 100px;" src="/_images/logo.png"></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-lg-none" href="#">
                <img style="height: 70px;" src="/_images/logo.png">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="https://www.professionaldevelopmentcoach.com">professional development coaching</a>
                    <a class="nav-item nav-link" href="https://www.marketingcoachingforcoaches.com">marketing coaching for coaches</a>
                    <a class="nav-item nav-link" href="/contact">contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>
{% block content %}{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                <hr>
                <p class="text-center pt-2">
                    Copyright &copy; Jim Pirrie Limited 2001-2022
                </p>
                <p class="text-center">
                    Registered as Company number 04294627 in England and Wales, VAT Number 785 1095 10
                </p>
                <p class="text-center">
                    <a href="/privacy">privacy policy</a> :: <a href="/website-terms-of-use">website terms of use</a> :: <a href="/terms-and-conditions">terms and conditions of business</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>