{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h1>About Jim Pirrie</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col p-5">
                    <h1>About Jim Pirrie BSc Eng (Hons), MBA</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 px-5">
                    <h5 class="pb-3">Professional Development Coaching and Training...</h5>
                    <p>
                        Jim has been coaching since 2003 and has been a member of the International Coach Federation since that time.
                    </p>
                    <p>
                        His professional background ranges from research engineering in aerospace and electro-optics to marketing, product development and project management in the telecoms sector.
                    </p>
                    <p>
                        He started his career in airframe dynamics research at the Royal Aircraft Establishment in Farnborough and has worked in blue-chip technology companies including Thorn-EMI Electro-Optics, Cable and Wireless and Virgin Cable Media.
                    </p>
                    <p>
                        Since starting his own training and coaching consultancy in 2001, Jim has worked with organisations of all sizes: Magic Circle law firms and Big Four accounting firms in the City of London; a global civil engineering firm; global consulting firms; niche consultancies; local professional services firms; and individuals. He has also lectured part-time in Marketing and International Trade and Finance at the University of Portsmouth.
                    </p>
                    <p>
                        He also holds an MBA from Cranfield School of Management, one of the UK's leading business schools, is an NLP Master Practitioner and Trainer and a Certified NLP Coach.
                    </p>
                    <p>
                        His interest in storytelling and performance has led him to study strorytelling and voice work at the International School of Storytelling, theatrical impro with Keith Johnstone in Canada, and to take a foundation course in drama and performance at one of London's leading drama schools.
                    </p>
                    <p>
                        He brings this extensive business, personal development and performance background to his work as a professional development coach, working with business professionals to consolidate and accelerate their professional careers.
                    </p>
                    <p>
                        Jim has also built a reputation for creative and highly interactive training experiences and has delivered training courses across the globe for some of the most prestigious professional services firms in the world, and he supports his one-to-one coaching work with training workshops to help his clients become highly effective business professionals:
                    </p>
                    <ul>
                        <li>
                            Personal Development
                        </li>
                        <li>
                            Group Dynamics
                        </li>
                        <li>
                            Presentation Skills
                        </li>
                        <li>
                            Mediation for Business Professionals
                        </li>
                        <li>
                            Negotiation Skills
                        </li>
                        <li>
                            Interpersonal Skills
                        </li>
                        <li>
                            Personal Marketing Skills
                        </li>
                        <li>
                            Business Development and Sales
                        </li>
                    </ul>
                    <p>
                        The philosophy behind Jim's work is the idea of 'the T-shaped professional' - the understanding that a business professional must have substantial depth of knowledge and experience in their specialist field, and that this depth must be complemented by a strong breadth of competence in the core personal and interpersonal skills essential to thrive in a professional business environment.
                    </p>
                    <p>
                        <a href="/" class="btn btn-primary w-100" style="white-space: normal;">
                            Free Professional Development Mini-Course...
                        </a>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">
                            Request a Free 60-Minute Professional Development Coaching Call...
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-15-pdc">
                            Request a Free 15-Minute Quick Chat about Professional Development Coaching...
                        </button>
                    </p>
                </div>
                <div class="col col-md-6 px-5">
                    <h5 class="pb-3">Marketing Coaching for Coaches...</h5>
                    <p>
                        <a href="/" class="btn btn-primary w-100" style="white-space: normal;">
                            Free Marketing for Coaches Mini-Course...
                        </a>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-60-mcfc">
                            Request a Free 60-Minute Marketing for Coaches Coaching Call...
                        </button>
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-15-mcfc">
                            Request a Free 15-Minute Quick Chat about Marketing for Coaches...
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
    </div>
{% endblock %}