{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h1>About Jim Pirrie</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col p-5">
                    {% include("/forms/form-newsletter.html.twig") %}
                    <h1>About Jim Pirrie BSc Eng (Hons), MBA</h1>
                    <img class="w-25 float-start me-5 mb-3 mt-3" style="box-shadow: 5px 5px 20px 2px gray;" src="/_images/JimPirrie-53-seated-300x450.jpg">
                    <p class="pt-2">
                        Jim has been coaching since 2003 and has been a member of the International Coach Federation since that time.
                    </p>
                    <p>
                        His professional background ranges from research engineering in aerospace and electro-optics to marketing, product development and project management in the telecoms sector.
                    </p>
                    <p>
                        He started his career in airframe dynamics research at the Royal Aircraft Establishment in Farnborough and has worked in blue-chip technology companies including Thorn-EMI Electro-Optics, Cable and Wireless and Virgin Cable Media.
                    </p>
                    <p>
                        Since starting his own training and coaching consultancy in 2001, Jim has worked with organisations of all sizes: Magic Circle law firms and Big Four accounting firms in the City of London; a global civil engineering firm; global consulting firms; niche consultancies; local professional services firms; and individuals.
                    </p>
                    <p>
                        Jim holds an MBA from Cranfield School of Management, one of the UK's leading business schools, and has lectured part-time in Marketing and International Trade and Finance at the University of Portsmouth.
                    </p>
                    <p>
                        <img class="ms-3 mb-2 w-25 float-end" src="/_images/badges/icf-member-badge.png">He is also an NLP Master Practitioner and Certified NLP Coach, and has been a member of the International Coach Federation since 2003.<br><br>Also in 2003, he became a Certified NLP Trainer, studying at the NLP University in Santa Cruz, California with Robert Dilts, Judith DeLozier and Suzie Smith.
                    </p>
                    <p>
                        His interest in storytelling and performance has led him to study storytelling and voice work at the International School of Storytelling, theatrical impro with Keith Johnstone in Canada, and to take a foundation course in drama and performance at one of London's leading drama schools.
                    </p>
                    <p>
                        When it comes to his own Continuous Professional Development, Jim believes it is extremely important for a coach to 'walk the talk' - to work on their own mental health, wellbeing and personal development as well as business and professional skills. To that end, he has worked with a number of coaches, counsellors and therapists: most recently with the extraordinary Juliet Grayson, a practitioner and trainer in Pesso Boyden System Psychomotor, a deeply effective mind-body process for developing personal resilience and insight, as well as addressing personal issues and trauma.
                    </p>
                    <p>
                        He brings this extensive business, personal development and performance background to his work as a professional development coach, working with business professionals to consolidate and accelerate their professional careers.
                    </p>
                    <p>
                        Jim has also built a reputation for creative and highly interactive training experiences and has delivered training courses across the globe for some of the most prestigious professional services firms in the world, and he supports his one-to-one coaching work with training workshops to help his clients become highly effective business professionals:
                    </p>
                    <ul>
                        <li>
                            Personal Development
                        </li>
                        <li>
                            Group Dynamics
                        </li>
                        <li>
                            Presentation Skills
                        </li>
                        <li>
                            Influence for Business Professionals
                        </li>
                        <li>
                            Negotiation Skills
                        </li>
                        <li>
                            Interpersonal Skills
                        </li>
                        <li>
                            Personal Marketing Skills
                        </li>
                        <li>
                            Business Development and Sales
                        </li>
                    </ul>
                    <p>
                        The philosophy behind Jim's work is the idea of 'the T-shaped professional' - the understanding that a business professional must have substantial depth of knowledge and experience in their specialist field, and that this depth must be complemented by a strong breadth of competence in the core personal and interpersonal skills essential to thrive in a professional business environment.
                    </p>
                    <p>
                        To find out more, please feel free to get in touch:
                    </p>
                    <div class="text-center" style="font-size: 30px;">
                        <a href="/contact"><i class="fa-regular fa-phone"></i> 08000 337 558</a>
                    </div>
                    <table class="m-auto mt-4">
                        <tr>
                            <td>
                                <a href="javascript:openPopWin('http://www.callmeback.org/callmeback.php?code=58024ed2c17ede17', 350, 400, '', 20, 20);">
                                    <button class="btn btn-success">
                                        <table style="width: 230px;">
                                            <tr>
                                                <td>
                                                    <i class="fa-solid fa-phone-arrow-down-left" style="font-size: 25px;"></i>
                                                </td>
                                                <td>
                                                    <div class="ps-4 text-start">
                                                        request a free callback
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <p class="text-center pt-4" style="font-size: 20px;">
                        <i class="fa-regular fa-envelope"></i> <a href="mailto:Jim Pirrie<jim@jimpirrie.com>">welcome@jimpirrie.com</a>
                    </p>
                    <table class="mx-auto mt-3">
                        <tr>
                            <td class="pe-2" style="font-size: 20px;">
                                Follow Jim:
                            </td>
                            <td>
                                <div class="addthis_inline_follow_toolbox_t2hu"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
    </div>
{% endblock %}