{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-forest-path.png');">
            <div class="page-banner-content">
                <h1>Clients</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>clients</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-right">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">Clients</h1>
                    <p>
                        Since starting his training and coaching business in 2001, Jim has worked with a wide variety of leading professional services firms and other organisations.
                    </p>
                    <p>
                        Here are some of the household names that have been regular clients during that time in the UK and internationally:
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-2 col-lg-3 d-none d-md-block"></div>
                    <div class="col col-md-8 col-lg-6">
                        <table class="m-auto">
                            <tr>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/kantarhealth.jpeg">
                                </td>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/ofcom.webp">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/dlapiper.webp">
                                </td>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/inmarsat.svg.png">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50 p-5">
                                    <img class="img-fluid" src="/_images/logos/mouchel.jpeg">
                                </td>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/syneoshealth.png">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50 p-5">
                                    <img class="img-fluid" src="/_images/logos/kpmg.jpeg">
                                </td>
                                <td class="w-50 p-5">
                                    <img class="w-100" src="/_images/logos/pwc.png">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50 p-5">
                                    <img class="img-fluid" src="/_images/logos/cliffordchance.jpeg">
                                </td>
                                <td class="w-50 pl-5">
                                    <img class="w-100" src="/_images/logos/linklaters.png">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2 col-lg-3 d-none d-md-block"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}