{% extends "_page.html.twig" %}
{% block content %}
    <div class="videoStripe">
        <div class="container">
            <div class="row">
                <div class="col px-md-5 pt-3">
                    <div class="fredericka fontSize-35">
                        Free Coaching Minicourse:
                    </div>
                    <div class="box-16x9 mx-lg-5">
                        <div class="box-inner">
                            <div class="box-content">
                                //Video coming here soon...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    About Professional Development Coaching...
                </div>
            </div>
        </div>
    </div>
    <div class="pdc">
        <div class="container">
            <div class="row p-3">
                <div class="col pt-5">
                    <p>
                        This is how the International Coach Federation defines coaching:
                    </p>
                    <p class="fontSize-20 em text-center mx-5">
                        “partnering with clients in a thought-provoking and creative process that inspires them to maximize their personal and professional potential.”
                    </p>
                    <p>
                        That's all very well, but what does it mean in practice?
                    </p>
                    <p>
                        Perhaps the greatest opportunities for maximising potential happen in times of transition, for example helping new joiners to thrive in a new company or helping rising stars to thrive in the face of increased responsibilities and new challenges.
                    </p>
                    <p>
                        We all know that feeling of anticipation when a desired change is coming, and that feeling of excited optimism when the change becomes real - before reality sets in!
                    </p>
                    <p>
                        And we all know, too, the nagging feeling of performance anxiety and even 'imposter syndrome' that so often arrives once the optimism fades and the reality and demands of the new situation start to sink in.
                    </p>
                    <p>
                        Some people do, however, manage to deny the challenges of the new reality, risking over-confidence and complacency - something that is unlikely to be sustainable and that leads to massive inner conflicts as the conscious mind strives to maintain the illusion while the unconscious mind experiences and suppresses all the normal feelings associated with transition.
                    </p>
                    <p>
                        Most people reach a turning point where time and experience result in a sense of considered optimism and inquiry. That underpins a period of rapid learning as they grow into the new situation, building a new, resilient confidence based on a realistic understanding of themselves and their capabilities in the new context allowing them to perform with a new level of competence.
                    </p>
                    <p>
                        But the turning point can go the other way.
                    </p>
                    <p>
                        Sometimes, in situations where the right support may not be available or where old patterns of thinking and/or behaviour conflict with what is needed to thrive, then the period of rapid learning may never be reached.
                    </p>
                    <p>
                        Instead, a person might struggle to perform and even experience feelings of overwhelm, confusion, disappointment, perhaps disillusion and loneliness, even anger and depression and denial that there is any problem.
                    </p>
                    <img class="img-fluid" src="/_images/TransitionCurve.png">
                    <p>
                        <strong>So how does Coaching/Mentoring fit in?</strong>
                    </p>
                    <p>
                        Clearly, as an employer you want people to perform happily and competently and to realise their full potential as fast and smoothly as possible. And naturally, as an individual, you want to thrive in your professional situation now and into the future: growing your skills and experience, achieving professional and technical successes.
                    </p>
                    <p>
                        And an experienced coach/mentor can make a dramatic difference to a person's experience of both the transition process and the process of continuing professional growth as a person makes the journey from Technical Specialist to Business Professional.
                    </p>
                    <p>
                        For example, the nature of the transition can be much less dramatic, meaning that the inevitable 'dip' not only is shallower, but is shorter and easier to navigate. And the risk of 'failure to thrive' at this critical turning point is much reduced.
                    </p>
                    <p>
                        And the recovery process - that period of rapidly developing understanding, accelerated learning and deepening personal growth - can happen sooner, move faster and go further - potentially leading to a level of professional competence that might never be achieved in the absence of the support of a skilled and experienced coach/mentor.
                    </p>
                    <img class="img-fluid" src="/_images/TransitionCurve_coaching.png">
                    <p>
                        <strong>Coaching and Mentoring - What's the Difference?</strong>
                    </p>
                    <p>
                        In the context of personal coaching (rather than sports coaching), the role of the Coach is usually seen as being to use skilled questioning to elicit courses of behaviour from the client. Coaching is seen as being non-directive, and the skills and experience of the Coach are manifested in the way they use questioning and the way they interpret responses to help the client arrive at their own conclusions about their situation and the way forward.
                    </p>
                    <p>
                        The role of a Mentor, on the other hand, is rather different. The Mentor brings skills and experience that are directly relevant to the Client's situation: professional experiences, technical knowledge, industry insights, specialist capabilities.
                    </p>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}