{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-island.png');">
            <div class="page-banner-content">
                <h1>Professional Development Coaching</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>coaching</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-right">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="videoStripe">
        <div class="container">
            <div class="row">
                <div class="col pt-md-5 px-md-5 py-3">
                    <a class="d-block box-16x9 mx-lg-5" href="/coaching.jimpirrie.com/minicourse/4/">
                        <div class="box-inner">
                            <div class="box-content">
                                //Minicourse coming here soon...
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Professional Development  Coaching...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    This is how the International Coach Federation defines coaching:
                </p>
                <p class="em text-center mx-5">
                    “partnering with clients in a thought-provoking and creative process that inspires them to maximize their personal and professional potential.”
                </p>
                <p>
                    That's all very well, but what does it mean in practice?
                </p>
                <p>
                    <strong>Coaching and Mentoring - What's the Difference?</strong>
                </p>
                <p>
                    In the context of personal coaching (rather than sports coaching), the role of the Coach is usually seen as being to use skilled questioning to elicit courses of behaviour from within the client's own experience and to hold the client to account for their own commitments. Coaching is seen as being non-directive, and the skills and experience of the Coach are manifested in the way they use questioning and the way they interpret responses to help the client arrive at their own conclusions about their situation and the way forward.
                </p>
                <p>
                    The role of a Mentor, on the other hand, is rather different. The Mentor brings skills and experience that are directly relevant to the Client's situation: professional experiences, technical knowledge, industry insights, specialist capabilities.
                </p>
                <p>
                    So perhaps the ideal is to find either a good Mentor with excellent Coaching skills, or an excellent Coach with relevant professional, business and technical experience. Either way you can get the best of both worlds: a skilled supporter who not only has valuable experience and insight to share, but also someone who can help you reach inside and find surprising capabilities within yourself, and who can help you to achieve your potential more quickly and more fully than you could hope to achieve in isolation.
                </p>
                <p>
                    <strong>What is Professional Development Coaching?</strong>
                </p>
                <p>
                    The aim of Professional Development Coaching is to help a person to navigate their career trajectory as successfully as possible.
                </p>
                <p>
                    For many, that means charting a course from starting out as a 'Technical Specialist', with responsibilities largely limited to delivering specific outcomes within their technical specialism, to 'Business Professional', who increasingly has wider responsibilities for project management, client relationships, team management and business and commercial strategy.
                </p>
                <p>
                    Sadly, for many people, their technical training (for example, university or on-the-job within an organisation) often neglects to help a person to plan, or even to understand, that journey. And that can lead to a person being unfocused in their career, unprepared for opportunities when they come, and ill-equipped to make a smooth and effective transition into the demands, responsibilities and rewards of their new role.
                </p>
                <p>
                    <strong>So where can Professional development Coaching help?</strong>
                </p>
                <p>
                    <strong><em>Handling Day-to-Day Challenges</em></strong>
                </p>
                <p>
                    There's no doubt about it: organisations can be challenging environments to work in. From dealing with interpersonal relationships, through managing your workload, to getting to grips with activities where you have little or no experience, the scope for becoming stressed and overwhelmed is endless. Some people navigate these waters elegantly and safely. Others fail to thrive.
                </p>
                <p>
                    The support of an experienced coach can help you to make sure you are one of those who stay safe, well and effective when the inevitable stresses come along.
                </p>
                <p>
                    <strong><em>Dealing with Transition and Change</em></strong>
                </p>
                <p>
                    <strong><em>Getting Things Done</em></strong>
                </p>
                <p>
                    And organisations are complex. Getting things done effectively means being able to manage priorities, delegate well, build strong collaborative working relationships and (above all) being crystal clear about what is expected of you, and by whom.
                </p>
                <p>
                    Working with a coach who has experience of dealing with all these challenges, and who can offer you practical strategies for success, can help you build confidence and self-assurence, accelerate the rate at which you develop these essential skills, and help you build a reputation as a safe and professional pair of hands.
                </p>
                <p>
                    <strong><em>Planning your Career Trajectory</em></strong>
                </p>
                <p>
                    When it comes to your professional development, you have a choice. You can be opportunistic, regarding your working life as a series of jobs that takes you where it takes you, or you can regard it as a career with a likely trajectory.
                </p>
                <p>
                    For the 'opportunistic professional', it's easy to stay stuck at a given level because there is no clear structure on which to plan and build skills and experience: professional development can become limited to the technical skills needed to deliver today's work, with no forward-looking perspactive to prepare for what might come next.
                </p>
                <p>
                    For the 'career professional', things are different: the career professional has a clear understanding of the typical career trajectory of a person in their chosen field. And that means they can prepare for what they expect to come next, of course seeking to build the skills to excel at today's challenges, yet always aware of developing the skills that will make them the clear and natural choice for any opportunities that would mean taking the next step along their desired trajectory.
                </p>
                <p>
                    Professional Development Coaching will not only help you to develop today's skills: your coach will also help you to make conscious decisions about the likely trajectory for someone in your situation, and help you to seek out ways to prepare yourself for what you want to come next. Success comes, as they say, when preparation meets opportunity.
                </p>
                <p>
                    <strong><em>Making a Name for Yourself</em></strong>
                </p>
                <p>
                    Professional success is founded on building a reputation for professional competence - making a name for yourself. That not only means building depth in your ability to deliver in your field of technical expertise. It also demands that you build the breadth of professional competencies you need to complement your technical expertise - investing in your own personal and professional development to become a 'T-shaped professional'.
                </p>
                <p>
                    <strong><em>Seizing Opportunities - and Following Through</em></strong>
                </p>
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="pdc">
        <div class="container">
            <div class="row p-3">
                <div class="col py-5">
                    <h5>
                        The T-Shaped Professional
                    </h5>
                    <img class="w-100" src="/_images/t-shaped-professional.png">
                    <h5>
                        Transition and Change
                    </h5>
                    <p>
                        Perhaps the greatest opportunities for maximising potential happen in times of transition, for example helping new joiners to thrive in a new company or helping rising stars to thrive in the face of increased responsibilities and new challenges.
                    </p>
                    <p>
                        We all know that feeling of anticipation when a desired change is coming, and that feeling of excited optimism when the change becomes real - before reality sets in!
                    </p>
                    <p>
                        And we all know, too, the nagging feeling of performance anxiety and even 'imposter syndrome' that so often arrives once the optimism fades and the reality and demands of the new situation start to sink in.
                    </p>
                    <p>
                        Some people do, however, manage to deny the challenges of the new reality, risking over-confidence and complacency - something that is unlikely to be sustainable and that leads to massive inner conflicts as the conscious mind strives to maintain the illusion while the unconscious mind experiences and suppresses all the normal feelings associated with transition.
                    </p>
                    <p>
                        Most people reach a turning point where time and experience result in a sense of considered optimism and inquiry. That underpins a period of rapid learning as they grow into the new situation, building a new, resilient confidence based on a realistic understanding of themselves and their capabilities in the new context allowing them to perform with a new level of competence.
                    </p>
                    <p>
                        But the turning point can go the other way.
                    </p>
                    <p>
                        Sometimes, in situations where the right support may not be available or where old patterns of thinking and/or behaviour conflict with what is needed to thrive, then the period of rapid learning may never be reached.
                    </p>
                    <p>
                        Instead, a person might struggle to perform and even experience feelings of overwhelm, confusion, disappointment, perhaps disillusion and loneliness, even anger and depression and denial that there is any problem.
                    </p>
                    <img class="img-fluid" src="/_images/TransitionCurve.png">
                    <p>
                        <strong>So how does Coaching/Mentoring fit in?</strong>
                    </p>
                    <p>
                        Clearly, as an employer you want people to perform happily and competently and to realise their full potential as fast and smoothly as possible. And naturally, as an individual, you want to thrive in your professional situation now and into the future: growing your skills and experience, achieving professional and technical successes.
                    </p>
                    <p>
                        And an experienced coach/mentor can make a dramatic difference to a person's experience of both the transition process and the process of continuing professional growth as a person makes the journey from Technical Specialist to Business Professional.
                    </p>
                    <p>
                        For example, the nature of the transition can be much less dramatic, meaning that the inevitable 'dip' not only is shallower, but is shorter and easier to navigate. And the risk of 'failure to thrive' at this critical turning point is much reduced.
                    </p>
                    <p>
                        And the recovery process - that period of rapidly developing understanding, accelerated learning and deepening personal growth - can happen sooner, move faster and go further - potentially leading to a level of professional competence that might never be achieved in the absence of the support of a skilled and experienced coach/mentor.
                    </p>
                    <img class="img-fluid" src="/_images/TransitionCurve_Coaching.png">
                    <p>
                        And whether you are looking at it from the perspective of a employing business, or from your point of view as someone concerned with building a career you can see the benefits: people who deal with transitions elegantly tend to deliver better results faster. As an employer, that means you get a better return of your investment. As a career professional, that means you get to make your name faster as a safe and competent pair of hands.
                    </p>
                    <p>
                        <strong>What's The Next Step?</strong>
                    </p>
                    <p>
                        If you want to know more about what Professional Development Coaching can mean for you, then a useful next step will be to take a look at our <strong>free three-part minicourse</strong>, put together especially to help you think through your own personal career trajectory, and to gain an overview of the main developmental areas to think about as you plan the trajectory we've spoken about - your journey from Technical Specialist to Business Professional:
                    </p>
                    <div class="px-lg-5">
                        <a class="d-block box-16x9 mx-lg-5" href="/coaching.jimpirrie.com/minicourse/4/">
                            <div class="box-inner">
                                <div class="box-content">
                                    //Minicourse coming here soon...
                                </div>
                            </div>
                        </a>
                    </div>
                    <p class="pt-5">
                        Or if you would prefer to make contact right away, then please <a href="/contact">click here to get in touch</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}