{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>contact</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-end">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Contact</h1>
                    <div class="mv-form" data-formtype="1"></div>
                    <h1 class="text-center p-0 m-0"><i class="fa-regular fa-phone"></i> 08000 337 558</h1>
                    {% include("/forms/form-call-me-back.html.twig") %}
                    <p class="text-center pt-4" style="font-size: 18px;">
                        <i class="fa-regular fa-envelope"></i> <a href="mailto:Jim Pirrie<jim@jimpirrie.com>">welcome@jimpirrie.com</a>
                    </p>
                    <div class="mx-auto mt-5 p-3">
                        <p class="text-center">
                            Remember to follow Jim Pirrie on your favourite channel:
                        </p>
                        <table class="mx-auto">
                            <tr>
                                <td>
                                    <div class="addthis_inline_follow_toolbox_t2hu"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% include("/forms/form-newsletter.html.twig") %}
                    <div class="m-auto p-5" style="width: 100%; max-width: 800px;">
                        <h5>Schedule a call...</h5>
                        <p>
                            If you want to set some time aside in your diary to talk, then you can schedule a call here.
                        </p>
                        <p>
                            We use Calendly to schedule calls directly into Jim Pirrie's diary - you don't need a Calendly account, simply choose the call you would like to schedule, click the button and follow the prompts.
                        </p>
                        <p>
                            If you would like a free 60-minute coaching call*:
                        </p>
                        <button type="button" class="btn btn-primary d-block mx-auto" data-bs-toggle="modal" data-bs-target="#free-60">
                            schedule a free 60-minute coaching call
                        </button>
                        <p class="mt-4">
                            If you would like to schedule a quick call to find out more:
                        </p>
                        <button type="button" class="btn btn-primary d-block mx-auto" data-bs-toggle="modal" data-bs-target="#free-15">
                            schedule a free 15-minute call
                        </button>
                        <table class="mt-5">
                            <tr>
                                <td class="align-top">
                                    <p class="pe-4">
                                        *
                                    </p>
                                </td>
                                <td style="font-style: italic;">
                                    <p>
                                        <strong>About free coaching calls</strong>
                                    </p>
                                    <p>
                                        If you are considering working with a coach, you can take up our offer of a free coaching call.
                                    </p>
                                    <p>
                                        You will be on a proper one-to-one coaching call with Jim for a full 60 minutes. The intent is threefold:
                                    </p>
                                    <ul>
                                        <li class="pb-3">
                                            First, it's important to explore the contribution coaching can make for you in your own personal situation.
                                        </li>
                                        <li class="pb-3">
                                            Second, it's important to demonstrate that coaching is a respectful, purposeful and effective way of both addressing current challenges and working on the skills and competencies you will need as your career progresses.
                                        </li>
                                        <li class="pb-3">
                                            And third, it's important to experience the quality of the working relationship between you and Jim, your coach. The success of coaching depends on the quality of this relationship, and on how well Jim's coaching style fits with you. The best way to find that out is to see how it works in practice and on this 60-minute call we will do just tha.
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <table class="m-auto mt-4">
                            <tr>
                                <td>
                                    <a href="javascript:openPopWin('http://www.callmeback.org/callmeback.php?code=58024ed2c17ede17', 350, 400, '', 20, 20);">
                                        <button class="btn btn-success">
                                            <table style="width: 230px;">
                                                <tr>
                                                    <td>
                                                        <i class="fa-solid fa-phone-arrow-down-left" style="font-size: 25px;"></i>
                                                    </td>
                                                    <td>
                                                        <div class="ps-4 text-start">
                                                            request a free callback
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="free-15" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="text-end">
                    <button class="btn modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h5 class="text-center mx-4">Schedule a<br>free 15-minute call<br>with Jim Pirrie...</h5>
                <div class="text-center">
                    (no account required)
                </div>
                <div class="modal-body">
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/jimpirrie/free-15?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="free-60" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="text-end">
                    <button class="btn modal-close-btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h5 class="text-center mx-4">Schedule a<br>free 60-minute coaching call<br>with Jim Pirrie...</h5>
                <div class="text-center">
                    (no account required)
                </div>
                <div class="modal-body">
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/jimpirrie/free-60-coaching?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://assets.calendly.com/assets/external/widget.js" async></script>
{% endblock %}