{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col pt-5">
                    <h1>Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 p-5" style="background-color: whitesmoke;">
                    <h5 class="pb-3">Professional Development Coaching...</h5>
                    <p>
                        <strong>Start a new journey</strong> into Professional Development right now with this free three-part Mini-Course:
                    </p>
                    <p class="text-center pt-3">
                        <a href="/" class="btn btn-primary mx-5" style="white-space: normal;">
                            Free Professional Development Mini-Course...
                        </a>
                    </p>
                    <p class="pt-5">
                        <strong>Ready to grasp the Professional Development opportunity?</strong> Book a free 60-minute coaching call.
                    </p>
                    <p>
                        What can you expect from your Professional Development Coaching call?
                    </p>
                    <ul>
                        <li>
                            Experience coaching for yourself...
                        </li>
                        <li>
                            Find out more about what coaching is and how it works...
                        </li>
                        <li>
                            Ask any questions...
                        </li>
                        <li>
                            Get genuine coaching on an issue that's live for you at the moment...
                        </li>
                        <li>
                            Make up your own mind about whether coaching is right for you...
                        </li>
                    </ul>
                    <p class="text-center pt-3">
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">
                            Request a Free 60-Minute Professional Development Coaching Call...
                        </button>
                    </p>
                    <p class="pt-5">
                        <strong>Want to know more but not ready for a 60-minute call?</strong> Book a free 15-minute quick chat here:
                    </p>
                    <p>
                        What can you expect from your call?
                    </p>
                    <ul>
                        <li>
                            Find out more about what professional development coaching is and how it works...
                        </li>
                        <li>
                            Ask any questions...
                        </li>
                        <li>
                            Make up your own mind about whether coaching might be right for you...
                        </li>
                        <li>
                            Decide whether to try a free 60-minute call...
                        </li>
                    </ul>
                    <p class="text-center pt-3">
                        <button type="button" class="btn btn-primary" style="white-space: normal;" data-toggle="modal" data-target="#free-15-pdc">
                            Request a Free 15-Minute Quick Chat about Professional Development Coaching...
                        </button>
                    </p>
                </div>
                <div class="col col-md-6 p-5" style="background-color: powderblue;">
                    <h5 class="pb-3 pt-5">Follow me on Social Media...</h5>
                    <p class="px-5">
                        <i class="fab fa-linkedin" style="font-size: 25px;"></i> &nbsp;&nbsp;<a href="https://www.linkedin.com/jimpirrie">linkedin.com/in/jimpirrie</a>
                    </p>
                    <p class="px-5">
                        <i class="fab fa-facebook-square" style="font-size: 25px;"></i> &nbsp;&nbsp;<a href="https://www.facebook.com/jimpirriecoaching">www.facebook.com/jimpirriecoaching</a>
                    </p>
                    <h5 class="pb-3 pt-5">Contact me now...</h5>
                    <p class="px-5">
                        <i class="fal fa-phone"></i> +44(0)20 3397 4407
                    </p>
                    <p class="px-5">
                        <i class="fal fa-envelope"></i> jim@jimpirrie.com
                    </p>
                    <p class="px-5">
                        <i class="fal fa-mailbox"></i> 7 Bell Yard, Holborn, London, WC2A 2JR
                    </p>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
    </div>
{% endblock %}