{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="height: 300px;background-image: url('/_images/carousel-waterfall.png');">
            <div class="page-banner-content">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">Get in Touch</h1>
                    <p>
                        Please get in touch if you have any questions...
                    </p>
                    <p class="px-5">
                        <i class="fal fa-phone"></i> +44(0)20 3396 4407
                    </p>
                    <p class="px-5">
                        <i class="fal fa-envelope"></i> jim@jimpirrie.com
                    </p>
                    <p class="px-5">
                        <i class="fal fa-mailbox"></i> 7 Bell Yard, Holborn, London, WC2A 2JR
                    </p>
                    <p class="px-5">
                        <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/jimpirrie">linkedin.com/in/jimpirrie</a>
                    </p>
                    <p class="px-5">
                        <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/jimpirriecoaching">www.facebook.com/jimpirriecoaching</a>
                    </p>
                    <p class="px-5">
                        <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/jimpirriemarketing">www.facebook.com/jimpirriemarketing</a>
                    </p>
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/jimpirrie/free-60?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Calendly inline widget end -->
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/jimpirrie/free-15?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}