{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Contact
                </div>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="container">
            <div class="row">
                <div class="col p-5">
                    <p>
                        <i class="fal fa-phone"></i> +44(0)20 3396 4407
                    </p>
                    <p>
                        <i class="fal fa-envelope"></i> jim@jimpirrie.com
                    </p>
                    <p>
                        <i class="fal fa-mailbox"></i> 7 Bell Yard, Holborn, London, WC2A 2JR
                    </p>
                    <p>
                        <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/jimpirrie">linkedin.com/in/jimpirrie</a>
                    </p>
                    <p>
                        <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/jimpirriecoaching">www.facebook.com/jimpirriecoaching</a>
                    </p>
                    <p>
                        <i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/Marketing-Coaching-for-Coaches-102375839030535">www.facebook.com/Marketing-Coaching-for-Coaches-102375839030535</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}