{% extends "_page.html.twig" %}
{% block content %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
            <li data-target="#carousel" data-slide-to="6"></li>
            <li data-target="#carousel" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000" style="background-image: url('/_images/carousel-waterfall.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_0" class="carousel-caption-content">
                        <h5>Welcome</h5>
                        <p>Carving out a career? Professional development coaching helps you be more effective, more successful, more balanced and happier...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_1" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-forest-path.png');">
                <div class="carousel-caption">
                    <div id="carousel_2" class="carousel-caption-content" style="display: none;">
                        <h5>Clients</h5>
                        <p>Jim has worked with a wide range of leading professional services businesses here in the UK overseas...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_3" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-island.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_4" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Coaching</h5>
                        <p>Wanting to make a name for yourself? Faced with a challenging transition? Wanting to get the best from yourself and your colleagues?</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_5" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-viaduct.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_6" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Workshops</h5>
                        <p>Back up your one-to-one coaching with essential skills training...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_7" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">
                        Welcome to Jim Pirrie Coaching
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col col-md-10 px-5">
                    <div class="px-md-5">
                        <div class="box-16x9">
                            <div class="box-inner">
                                <div class="box-content">
                                    //Video coming here soon...
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="w-100" src="/_images/video-player-shadow.png">
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="w-25 float-left mr-2 mb-2" src="/_images/JP_086_extendingOnBlack.png">
                    <p>
                        My name is Jim Pirrie, and I specialise in Professional Development Coaching.
                    </p>
                    <p>
                        I work with early- and mid-career professionals who are getting established it their chosen field. If that's you, then <em>your</em> job is to use the depth of your professional expertise to deliver results. And <em>my</em> job is to help you to add a breadth of other capabilities: the skills and attributes that help you thrive, and help transform you from technical expert into a true business professional.
                    </p>
                    <p>
                        So what does that mean in practice? Here are examples of where I work with my clients:
                    </p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <ul class="m-0">
                                <li>Confidence and Self-Assurance</li>
                                <li>Clarity of expression</li>
                                <li>Presenting skills</li>
                                <li>Writing skills</li>
                                <li>Strategic decision making</li>
                                <li>Self-Management</li>
                                <li>Change management</li>
                                <li>Modelling success</li>
                                <li>Creative thinking</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="m-0">
                                <li>Dealing with difficult situations</li>
                                <li>Negotiation</li>
                                <li>Influence skills</li>
                                <li>Sales skills</li>
                                <li>Getting things done</li>
                                <li>Thriving in the matrix</li>
                                <li>Project management</li>
                                <li>Listening Skills</li>
                                <li>Time management</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <a class="d-block w-100" id="speechBubble_Coaching" href="/coaching">
                        <img class="w-100" src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
                <div class="col-6">
                    <a class="d-block" id="speechBubble_Training" href="/workshops">
                        <img class="w-100" src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
            </div>
        </div>
        <div style="height: 200px;"></div>
    </div>
    <script type="text/javascript">

        $('#carousel').on('slide.bs.carousel', function (e) {

            var from = e.from;

            console.log("FROM: " + from);

            $("#carousel_" + from).fadeOut("slow");
        })

        $('#carousel').on('slid.bs.carousel', function (e) {

            var to = e.to;

            console.log("TO: " + to);

            $("#carousel_" + to).fadeIn("slow");
        })
    </script>
{% endblock %}