{% extends "_page.html.twig" %}
{% block content %}
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000" style="background-image: url('/_images/carousel-waterfall.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_0" class="carousel-caption-content">
                        <h5>Welcome</h5>
                        <p>Carving out a career? Professional development coaching helps you be more effective, more successful, more balanced and happier...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_1" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-forest-path.png');">
                <div class="carousel-caption">
                    <div id="carousel_2" class="carousel-caption-content" style="display: none;">
                        <h5>Clients</h5>
                        <p>Jim has worked with a wide range of leading professional services businesses here in the UK overseas...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_3" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-island.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_4" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Coaching</h5>
                        <p>Wanting to make a name for yourself? Faced with a challenging transition? Wanting to get the best from yourself and your colleagues?</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_5" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-viaduct.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_6" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Workshops</h5>
                        <p>Back up your one-to-one coaching with essential skills training...</p>
                        <a href="https://coaching.jimpirrie.com/minicourse/4" class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_7" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <strong>home</strong>
                </div>
                <div class="col-12 col-lg-4">
                    <table class="float-right">
                        <tr>
                            <td>
                                <strong>Follow Jim:</strong>
                            </td>
                            <td>
                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">
                        Welcome to Jim Pirrie Coaching
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col col-lg-10 px-5">
                    <div class="px-md-5">
                        <div class="box-16x9">
                            <div class="box-inner">
                                <div class="box-content">
                                    //Video coming here soon...
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="w-100" src="/_images/video-player-shadow.png">
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="w-25 float-start mt-3 me-5 mb-5 mb-md-2" style="box-shadow: 5px 5px 20px 2px gray;" src="/_images/JimPirrie-70-fence-cropped-200x1000.jpg">
                    <p class="pt-3">
                        I'm Jim Pirrie, and I specialise in Professional Development Coaching.
                    </p>
                    <p>
                        I work with early- and mid-career professionals who are getting established it their chosen field. If that's you, then <em>your</em> job is to use the depth of your professional expertise to deliver results. And <em>my</em> job is to help you to add a breadth of other capabilities: the skills and attributes that help you thrive, and help transform you from technical specialist into a true business professional.
                    </p>
                    <p>
                        My work draws on my experience managing teams in high-tech design, development and manufacturing, and in working as a consultant to some of the most prestigious professional services companies across the world. I've been a member of the International Coaching Federation since 2003.
                    </p>
                    <p>
                        So what does that mean in practise? Here are examples of where I work with my clients:
                    </p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <ul class="m-0">
                                <li>Confidence and self-assurance</li>
                                <li>Clarity of expression</li>
                                <li>Presenting skills</li>
                                <li>Writing skills</li>
                                <li>Strategic decision making</li>
                                <li>Self-management</li>
                                <li>Change management</li>
                                <li>Modelling success</li>
                                <li>Creative thinking</li>
                                <li>Personal and business goals</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="m-0 pb-3">
                                <li>Dealing with difficult situations</li>
                                <li>Negotiation</li>
                                <li>Influence skills</li>
                                <li>Sales skills</li>
                                <li>Getting things done</li>
                                <li>Thriving in the matrix</li>
                                <li>Project management</li>
                                <li>Listening skills</li>
                                <li>Time management</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="pt-3">
                                Now you might be looking at that list and saying 'hmm - that's a lot to work on!'.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Here's the thing:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Many of the same fundamental principles underpin some or all of the skills and attributes in the list. So in our work together we are always seeking out the common factors that lead to success: the differences that make the difference, if you like. Understand and practice with those, and you will build the resourcefulness and flexibility that helps deal elegantly with anything the professional world can throw at you.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <strong>"So, how does it work?"</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Well, I work with clients in three ways: online resources, one-to-one coaching, and group workshops.
                            </p>
                            <p>
                                <strong><em>Online Resources</em></strong>
                            </p>
                            <p>
                                If you want to get started right away, or you want to get an idea of what it might be like to work together, then the best thing will be for you to engage with the <a href="/resources">online resources</a> you'll find on this site. I'm always releasing new stuff, so be sure to <span class="modalTriggerSpan" data-toggle="modal" data-target="#list">join my email list</span> and <a href="/contact">follow me on social media</a> too:
                            </p>
                            {% include("forms/form-addthis-follow-large-center.html.twig") %}
                            {% include("forms/form-newsletter.html.twig") %}
                            <p class="mt-4">
                                <strong><em>Professional Development Coaching</em></strong>
                            </p>
                            <p>
                                As a coach I work one-to-one with a limited number of clients: we agree a three or six month schedule of weekly or fortnightly Professional Development Coaching sessions, where we work together to explore and address issues that are alive for you at the time. For some clients these sessions are funded by their company; others choose to make a personal investment in their own future.
                            </p>
                            <p>
                                <strong><em>Professional Development Training</em></strong>
                            </p>
                            <p>
                                But if coaching is not yet for you, then I also offer a programme of six one-day group workshops. These workshops are designed to work together to build a strong foundation for anyone seeking to develop the sort of skills and attributes in the list. And to make them as easily and widely accessible as possible, I run them in-house for clients (individually or as a package), and as publicly-available events.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="w-50 m-auto px-3">
                    <a class="d-block w-100 m-auto" id="speechBubble_Online" href="/resources">
                        <img class="d-block w-100 m-auto" style="max-width: 600px;" src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
            </div>

        </div>
        <div class="row pt-2">
            <div class="col-6 pl-5">
                <a class="d-block" id="speechBubble_Coaching" href="/coaching">
                    <img class="w-100" style="max-width: 600px;" src="/_images/speechBubble_Blank.png">
                </a>
            </div>
            <div class="col-6 pr-5">
                <a class="d-block float-end" id="speechBubble_Training" href="/workshops">
                    <img class="w-100" style="max-width: 600px;" src="/_images/speechBubble_Blank.png">
                </a>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
    <script type="text/javascript">

        $('#carousel').on('slide.bs.carousel', function (e) {

            var from = e.from;

            console.log("FROM: " + from);

            $("#carousel_" + from).fadeOut("slow");
        })

        $('#carousel').on('slid.bs.carousel', function (e) {

            var to = e.to;

            console.log("TO: " + to);

            $("#carousel_" + to).fadeIn("slow");
        })
    </script>
{% endblock %}