{% extends "_page.html.twig" %}
{% block content %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
            <li data-target="#carousel" data-slide-to="6"></li>
            <li data-target="#carousel" data-slide-to="7"></li>
            <li data-target="#carousel" data-slide-to="8"></li>
            <li data-target="#carousel" data-slide-to="9"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000" style="background-image: url('/_images/carousel-waterfall.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_0" class="carousel-caption-content">
                        <h5>Welcome</h5>
                        <p>Carving out a career? Professional development coaching helps you be more effective, more successful, more balanced and happier...</p>
                        <a class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_1" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-forest-path.png');">
                <div class="carousel-caption">
                    <div id="carousel_2" class="carousel-caption-content" style="display: none;">
                        <h5>Clients</h5>
                        <p>Jim has worked with a wide range of leading professional services businesses here in the UK overseas...</p>
                        <a class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_3" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-island.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_4" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Coaching</h5>
                        <p>Wanting to make a name for yourself? Faced with a challenging transition? Wanting to get the best from yourself and your colleagues?</p>
                        <a class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_5" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-viaduct.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_6" class="carousel-caption-content" style="display: none;">
                        <h5>Professional Development Workshops</h5>
                        <p>Back up your one-to-one coaching with essential skills training...</p>
                        <a class="btn btn-success py-0" style="white-space: normal;">Free Professional Development Minicourse</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_7" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Professional Development Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-pdc">Free One-Hour Professional Development Coaching Call</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-sunrise.png'); background-size: cover;">
                <div class="carousel-caption">
                    <div id="carousel_8" class="carousel-caption-content" style="display: none;">
                        <h5>Marketing Coaching for Coaches</h5>
                        <p>Your coaching training gives you important skills, but nobody tells you how to build a successful coaching business...</p>
                        <a class="btn btn-success py-0" style="white-space: normal;">Free Marketing Minicourse for Coaches</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000" style="background-image: url('/_images/carousel-seacliff.png');">
                <div class="carousel-caption">
                    <div id="carousel_9" class="carousel-caption-content" style="display: none;">
                        <h5>Book your Free Marketing for Coaches Coaching Call Now...</h5>
                        <p>Click here to book your free 1-hour coaching call...</p>
                        <span class="btn btn-success py-0" style="white-space: normal;" data-toggle="modal" data-target="#free-60-mcfc">Free One-Hour Marketing for Coaches Coaching Call</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">
                        Welcome to Jim Pirrie Coaching
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col col-md-10 px-5">
                    <div class="px-md-5">
                        <div class="box-16x9">
                            <div class="box-inner">
                                <div class="box-content">
                                    //Video coming here soon...
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="w-100" src="/_images/video-player-shadow.png">
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row pt-2 pb-5">
                        <div class="col-6 pl-lg-5">
                            <a href="/coaching" class="btn btn-success d-block fredericka fontSize-20 ml-lg-3" style="white-space: normal;">Professional Development Coaching</a>
                        </div>
                        <div class="col-6 pr-lg-5">
                            <a href="/marketing" class="btn btn-warning d-block fredericka fontSize-20 mr-lg-3" style="white-space: normal;">Marketing Coaching for Coaches</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Choose your Conversation...
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-6">
                    <a class="d-block" id="speechBubble_Professional" href="/coaching">
                        <img class="img-fluid"  src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
                <div class="col-6">
                    <a class="d-block" id="speechBubble_Coach" href="/marketing">
                        <img class="img-fluid" src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xl-3 d-none d-lg-block"></div>
                <div class="col col-lg-8 col-xl-6 fontSize-20 text-center pb-5 mb-5">
                    <p class="fredericka fontSize-25">
                        Welcome to Jim Pirrie Coaching!
                    </p>
                    <p class="pt-5">
                        As you can see, there are two threads here...
                    </p>
                    <p class="pt-5">
                        If you are a Business Professional looking to develop your career, then <a href="/coaching">try this</a> as your starting point:
                    </p>
                    <p>
                        <a href="/coaching" class="btn btn-success fontSize-20" style="white-space: normal;">Professional Development Coaching</a>
                    </p>
                    <p class="pt-5">
                        And if you are a coach looking to grow your coaching practice then <a href="/marketing">you'll find some useful stuff</a> here:
                    </p>
                    <p>
                        <a href="/marketing" class="btn btn-warning fontSize-20" style="white-space: normal;">Marketing Coaching for Coaches</a>
                    </p>
                    <p class="pt-5">
                        Or please feel free to <a href="/contact">click here to get in touch...</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-xl-3 d-none d-lg-block"></div>
        </div>
    </div>
    <script type="text/javascript">

        $('#carousel').on('slide.bs.carousel', function (e) {

            var from = e.from;

            console.log("FROM: " + from);

            $("#carousel_" + from).fadeOut("slow");
        })

        $('#carousel').on('slid.bs.carousel', function (e) {

            var to = e.to;

            console.log("TO: " + to);

            $("#carousel_" + to).fadeIn("slow");
        })
    </script>
{% endblock %}