{% extends "_page.html.twig" %}
{% block content %}
    <div class="videoStripe">
        <div class="container">
            <div class="row">
                <div class="col px-md-5 pt-3">
                    <div class="box-16x9 mx-lg-5">
                        <div class="box-inner">
                            <div class="box-content">
                                //Video coming here soon...
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 pb-5">
                        <div class="col-6 pl-lg-5">
                            <a href="/coaching" class="btn btn-success d-block fredericka fontSize-20 ml-lg-3" style="white-space: normal;">Professional Development Coaching</a>
                        </div>
                        <div class="col-6 pr-lg-5">
                            <a href="/marketing" class="btn btn-warning d-block fredericka fontSize-20 mr-lg-3" style="white-space: normal;">Marketing Coaching for Coaches</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Choose your Conversation...
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-6">
                    <a class="d-block" id="speechBubble_Professional" href="/coaching">
                        <img class="img-fluid"  src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
                <div class="col-6">
                    <a class="d-block" id="speechBubble_Coach" href="/marketing">
                        <img class="img-fluid" src="/_images/speechBubble_Blank.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xl-3 d-none d-lg-block"></div>
                <div class="col col-lg-8 col-xl-6 fontSize-20 text-center pb-5 mb-5" style="color: lightgrey;">
                    <p class="fredericka fontSize-25">
                        Welcome to Jim Pirrie Coaching!
                    </p>
                    <p class="pt-5">
                        As you can see, there are two threads here...
                    </p>
                    <p class="pt-5">
                        If you are a Business Professional looking to develop your career, then <a href="/coaching">try this</a> as your starting point:
                    </p>
                    <p>
                        <a href="/coaching" class="btn btn-success fontSize-20" style="white-space: normal;">Professional Development Coaching</a>
                    </p>
                    <p class="pt-5">
                        And if you are a coach looking to grow your coaching practice then <a href="/marketing">you'll find some useful stuff</a> here:
                    </p>
                    <p>
                        <a href="/marketing" class="btn btn-warning fontSize-20" style="white-space: normal;">Marketing Coaching for Coaches</a>
                    </p>
                    <p class="pt-5">
                        Or please feel free to <a href="/contact">click here to get in touch...</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-xl-3 d-none d-lg-block"></div>
        </div>
    </div>
{% endblock %}