{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Professional Development Coaching
                </div>
            </div>
        </div>
    </div>
    <div class="pdc">
        <div class="container">
            <div class="row">
                <div class="col">
                    PDC
                    Jim Pirrie in Open Sans
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Marketing Coaching for Coaches
                </div>
            </div>
        </div>
    </div>
    <div class="mcfc">
        <div class="container">
            <div class="row">
                <div class="col">
                    PDC
                </div>
            </div>
        </div>
    </div>
{% endblock %}