{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-sunrise.png');">
            <div class="page-banner-content">
                <h1>Marketing Coaching for Coaches</h1>
            </div>
        </div>
    </div>
    <div class="videoStripe">
        <div class="container">
            <div class="row">
                <div class="col px-md-5 py-3">
                    <div class="fredericka fontSize-35">
                        Marketing Coaching for Coaches - Free Minicourse:
                    </div>
                    <a class="d-block box-16x9 mx-lg-5" href="/marketing.jimpirrie.com/minicourse/xxxxx/">
                        <div class="box-inner">
                            <div class="box-content">
                                //Minicourse coming here soon...
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    About Marketing Coaching for Coaches...
                </div>
            </div>
        </div>
    </div>
    <div class="mcfc">
        <div class="container">
            <div class="row p-3">
                <div class="col py-5">
                    <p>
                        Your coaching training may have given you powerful skills that have genuine value in the world, but that's where the job of the coach training school ends. Taking your skills into the world, however, is a whole new challenge - and to make a living from them even more so.
                    </p>
                    <p>
                        The hard truth is that if you want to make a go of coaching as an independent business then you need to back up your coaching skills with marketing skills. Some coaches are, however, resistant to the idea - and marketing can indeed seem like a rather black art.
                    </p>
                    <p>
                        My aim here is to help you get the clarity you absolutely need to make a success of your business.
                    </p>
                    <p>
                        And it's not all about online marketing. Far from it. Most successful businesses I know gain far more work from repeat clients, word of mouth and referrals than they do from their online client-generation activities.
                    </p>
                    <p>
                        But when you are starting out with a small (or zero) client base, there's no way to get repeat clients. Or word of mouth. Or referrals. If that's you, then 'online marketing' offers you a specific, reliable, measurable and scaleable way to get your name out there.
                    </p>
                    <p>
                        Yet 'online marketing' means nothing and everything - there is huge scope for confusion!
                    </p>
                    <p>
                        And to make matters worse, most of the marketing advice 'out there' is aimed at online retail businesses, and it can be deeply confusing to sort out which bits are relevant and effective for you as a coach.
                    </p>
                    <p>
                        So the first thing is get some clarity about how, for a <em>coaching</em> business, 'online marketing' fits with real-life, face-to-face marketing. To understand how to build a practical marketing plan. And to understand how to make it work.
                    </p>
                    <p>
                        <strong>So how <em>does</em> it work?</strong>
                    </p>
                    <p>
                        Well, the first thing to do is to make you aware (or remind you) of a crucially important distinction: 'Brand Marketing' vs 'Performance Marketing'.
                    </p>
                    <p>
                        Here's a typical definition of "Brand Marketing":
                    </p>
                    <p>
                        "Brand Marketing describes a long-term, strategic plan to continuously boost a brand's recognition and reputation. This is achieved by continually and consistently communicating the brand's identity and values in meaningful and engaging ways."
                    </p>
                    <p>
                        Brand Marketing is the sort of marketing you see used by big corporations, spending huge budgets on creating some ill-defined thing called 'awareness'.
                    </p>
                    <p>
                        The trouble is, for a micro-business, it's hard to predictably convert a 'brand marketing' budget into real clients. And trying to do so, even in quite a minimal way, can soak up silly money. there is no shortage of 'marketing consultants' who will happily charge you thousands for defining your 'brand values' and 'brand identity' and 'brand image', and then building you a 'website you can be proud of', but that won't actually contribute to making sales.
                    </p>
                    <p>
                        Worse, a focus on 'Brand Marketing' can offer the illusion of progress, while actually achieving nothing in terms of real sales (but nevertheless draining cash you can ill afford).
                    </p>
                    <p>
                        For your coaching business, perhaps it's helpful to think of 'Brand Marketing' as 'Black Box Marketing':
                    </p>
                    <img class="img-fluid" src="/_images/BrandMarketing.png">
                    <p>
                        So, as the owner of a coaching business, can you afford to leave the fate of your business to whatever uncontrollable, unmeasurable and mysterious things that are supposed to happen in those black boxes?
                    </p>
                    <p>
                        Personally, I prefer process to chance - so I would say no.
                    </p>
                    <p>
                        Fortunately, there is another, much more purposeful and practical way.
                    </p>
                    <p>
                        The tools exists that allow you to plan and build a marketing process that is predictable, measurable, scaleable and controllable, and that's what Performance Marketing is.
                    </p>
                    <p>
                        Performance Marketing is focused on getting specific, measurable results from your marketing budget. It focuses on understanding the step-by-step path a client will take from the moment they recognise they have a problem to the moment they become your client, and beyond to the point where they recommend you to other people.
                    </p>
                    <p>
                        Sadly, it has to be said, Performance Marketing has become tarnished (often deservedly) with a reputation for cynicism, hype, hard-sell and manipulation. Not comfortable for a coaching business.
                    </p>
                    <p>
                        But it doesn't have to be that way.
                    </p>
                    <p>
                        Performance  Marketing can be used ethically and sensitively to grow your coaching business. After all, marketing is about people and relationships:
                    </p>
                    <img class="img-fluid" src="/_images/PerformanceMarketing.png">
                    <p>
                        As you can see, the process is step-by-step, and the purpose of each step is clearly defined. Each step is also measurable. Even better, most of the donkey work can be automated while still building relationships based on your own skills, experience, perspective and personality.
                    </p>
                    <p>
                        And you can even use these ideas to help diagnose where your marketing might be breaking down right now.
                    </p>
                    <p>
                        This isn't the place to go into more detail, but I know that you'll want to know the practicalities of how to put it all together and make it work for you - and do so affordably.
                    </p>
                    <p>
                        To that end, I've created this free minicourse - focused specifically on marketing for coaches - to help you get a flying start:
                    </p>
                    <div class="px-lg-5">
                        <a class="d-block box-16x9 mx-lg-5" href="/marketing.jimpirrie.com/minicourse/xxxxx/">
                            <div class="box-inner">
                                <div class="box-content">
                                    //Minicourse coming here soon...
                                </div>
                            </div>
                        </a>
                    </div>
                    <p class="pt-5">
                        Or if you would prefer to make contact right away, then please <a href="/contact">click here to get in touch</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}