{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Page Not Found
                </div>
            </div>
        </div>
    </div>
    <div class="notFound">
        <div class="container">
            <div class="row">
                <div class="col p-5">
                    <p class="text-center" style="font-size: 50px;">
                        <i class="fal fa-lightbulb-exclamation"></i> 404
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}