{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Privacy Policy
                </div>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="container">
            <div class="row py-5">
                <div class="col legal">
                    <h1>
                        Jim Pirrie Limited: Privacy Policy
                    </h1>
                    <h2>
                        Contact Details
                    </h2>
                    <p>
                        Jim Pirrie Limited<br>
                        5 Blacklands Crescent<br>
                        Forest Row<br>
                        East Sussex RH18 5NN, UK
                    </p>
                    <p>
                        +44(0)20 3397 4407<br>
                        webservices@jimpirrie.com
                    </p>
                    <h2>
                        What Information Do We Collect?
                    </h2>
                    <p>
                        We currently collect and process the following information:
                    </p>
                    <p>
                        Personal identifiers, contacts and characteristics (for example, name and contact details)
                    </p>
                    <h2>
                        How Do We Collect Information?
                    </h2>
                    <p>
                        The personal information we process is provided to us directly by you for one of the following reasons:
                    </p>
                    <ul>
                        <li>
                            You have purchased a service from us
                        </li>
                        <li>
                            You have requested a free download
                        </li>
                        <li>
                            You have subscribed for a free online training
                        </li>
                    </ul>
                    <h2>
                        How Do We Use Information?
                    </h2>
                    <p>
                        We use the information that you have given us in order to:
                    </p>
                    <ul>
                        <li>
                            Keep you informed about the latest thinking relevant to you and/or your business
                        </li>
                        <li>
                            Let you know about updates and offers.
                        </li>
                        <li>
                            Fulfil our contractual obligations.
                        </li>
                    </ul>
                    <h2>
                        On What Bases Do We Process Information?
                    </h2>
                    <p>
                        Under the General Data Protection Regulation (GDPR), the lawful bases we rely on for processing this information are:
                    </p>
                    <ul>
                        <li>
                            Your consent. You are able to remove your consent at any time. You can do this by contacting us.
                        </li>
                        <li>
                            We have a contractual obligation
                        </li>
                        <li>
                            We have a legitimate interest.
                        </li>
                    </ul>
                    <h2>
                        Where Is Information Stored?
                    </h2>
                    <p>
                        Your information is securely stored on servers in the UK, US and EU.
                    </p>
                    <p>
                        We keep your personal information for as long as you are a client or customer, or for as long as you remain an engaged member of our email list, whichever is longer. We will then dispose your information by deleting it from our servers.

                    </p>
                    <h2>
                        What Are Your Rights?
                    </h2>
                    <p>
                        Under data protection law, you have rights including:
                    </p>
                    <ul>
                        <li>
                            Your right of access - You have the right to ask us for copies of your personal information.
                        </li>
                        <li>
                            Your right to rectification - You have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.
                        </li>
                        <li>
                            Your right to erasure - You have the right to ask us to erase your personal information in certain circumstances.
                        </li>
                        <li>
                            Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal information in certain circumstances.
                        </li>
                        <li>
                            Your right to object to processing - You have the the right to object to the processing of your personal information in certain circumstances.
                        </li>
                        <li>
                            Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you, in certain circumstances.
                        </li>
                    </ul>
                    <p>
                        You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.
                    </p>
                    <p>
                        Please contact us if you wish to make a request.
                    </p>
                    <h2>
                        How to complain
                    </h2>
                    <p>
                        If you have any concerns about our use of your personal information, you can make a complaint to us.
                    </p>
                    <p>
                        You can also complain to the ICO if you are unhappy with how we have used your data.
                    </p>
                    <p>
                        The ICO’s address:
                    </p>
                    <p>
                        Information Commissioner’s Office<br>
                        Wycliffe House<br>
                        Water Lane<br>
                        Wilmslow<br>
                        Cheshire<br>
                        SK9 5AF
                    </p>
                    <p>
                        Helpline number: 0303 123 1113
                    </p>
                    <p>
                        ICO website: https://www.ico.org.uk
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}