{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Resources</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Professional Development Resources...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <strong><em>Making a Name for Yourself</em></strong>
                </p>
                <p>
                    [ebook - making a name for yourself]
                </p>
                <p>
                    <strong><em>Seizing Opportunities - and Following Through</em></strong>
                </p>
                <p>
                    [ebook - seizing opportunties]
                </p>
                <p>
                    <strong><em>Planning your Career Trajectory</em></strong>
                </p>
                <p>
                    [ebook - planning your career trajectory]
                </p>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}