{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Resources</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Professional Development Resources...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}