{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Resources</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>resources</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-right">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="list" class="container">
        <div class="row">
            <div class="col">
                <h1>Free Professional Development Resources...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <p>
                    Here are all our free downloads and video trainings - feel free to browse and grab the useful ones for you right now:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="m-auto">
                    <tr class="mv-listitem">
                        <td class="pe-3 py-2">
                            <i class="fa-light fa-square-small"></i>
                        </td>
                        <td class="pe-3 py-2">
                            <span class="mv-item-type"></span>:
                        </td>
                        <td class="py-2">
                            <a><span class="mv-item-name"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col pt-3">
                <p>
                    We're regularly publishing new video trainings and downloads - so be sure to check back here regularly!
                </p>
                <p>
                    When we publish something new, we share it by email and social media, and the best way to keep up to date is to make sure you are on our email list:
                </p>
                <div class="m-auto p-5" style="max-width: 600px; border: solid lightgray 1px; border-radius: 5px;">
                    <p>
                        Pop your best email address in the form, and we'll make sure you don't miss out on anything:
                    </p>
                    <div class="mv-form" data-itemRef="list" data-formtype="2" data-btnclass="mv-btn-primary">yes - keep me up to date!</div>
                </div>
                <p class="pt-5">
                    And in the meantime, make sure you're following Jim on your favourite social platforms:
                </p>
                {% include("forms/form-addthis-follow-large-center.html.twig") %}
            </div>
        </div>
        <div class="row mv-leadmagnet" style="padding-top: 100px;">
            <div class="col" style="padding: 0 5% 0 5%; border: solid gray 1px; border-radius: 10px;">
                <div class="row">
                    <div class="col text-end py-2">
                        <a href="#list">top</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-4 d-md-none">
                        <span class="mv-item-type"></span>
                    </div>
                </div>
                <div class="row px-2 pb-5 px-md-5">
                    <div class="col col-md-3">
                        <h3 class="d-md-none"><span class="mv-item-name"></span></h3>
                        <div class="mv-item-image"></div>
                        <div class="mv-item-description py-3 d-md-none"></div>
                        <a href="" class="d-md-none">more...</a>
                    </div>
                    <div class="d-none d-md-block col-9">
                        <h3><span class="mv-item-name" data-itemref="{{ mv_ref }}"></span></h3>
                        <p class="pb-0">
                            <span class="mv-item-type"></span>
                        </p>
                        <div class="mv-item-description pb-3"></div>
                        <div class="text-end">
                            <a class="mv-item-signup" href="">more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}