{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Resources</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>resources</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-right">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Professional Development Resources...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li class="mv-listitem">
                        <a href=""><span class="mv-item-type"></span>: <span class="mv-item-name"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mv-leadmagnet">
            <div class="col pt-5" style="border: solid gray 1px; border-radius: 10px;">
                <div class="w-25 float-left mr-3 mb-3">
                    <div class="col" style="padding: 0 5% 0 5%;">
                        <div class="row">
                            <div class="col col-md-3">
                                <h3 class="d-md-none"><span class="mv-item-name"></span></h3>
                                <img class="mv-item-image img-fluid">
                                <div class="mv-item-description py-3 d-md-none"></div>
                            </div>
                            <div class="d-none d-md-block col-9">
                                <h3><span class="mv-item-name" data-ref="{{ mv_ref }}"></span></h3>
                                <div class="mv-item-description py-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    I'm continually creating new video trainings and downloads - so be sure to check back here regularly!
                </p>
                <p>
                    If you're interested, then the best way to keep up to date on when we are releasing new resources is to make sure you are following Jim Pirrie on social media, and to join our community mailing list:
                </p>
                {% include("forms/form-addthis-follow-large-center.html.twig") %}
                {% include("forms/form-newsletter.html.twig") %}
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}