{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Resources</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Professional Development Resources...</h1>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5">
                <div class="w-25 float-left mr-3 mb-3">
                    <img class="w-100" src="/_images/resources.png">
                </div>
                <p>
                    I'm continually creating new video trainings and downloads - so be sure to check back here regularly!
                </p>
                <p>
                    And I always announce new releases to my email list and social media followers, so be sure to join everyone else on my email list:
                </p>
                <p class="text-center">
                    <button class="btn btn-primary px-5">Join My eMail List...</button>
                </p>
                <p>
                    ...and follow me on social media:
                </p>
                <p class="text-center">
                    <a class="mx-3" href=""><i class="fa-brands fa-linkedin" style="font-size: 30px;"></i></a>
                    <a class="mx-3" href=""><i class="fa-brands fa-facebook-square" style="font-size: 30px;"></i></a>
                    <a class="mx-3" href=""><i class="fa-brands fa-youtube" style="font-size: 30px;"></i></a>
                    <a class="mx-3" href=""><i class="fa-brands fa-twitter" style="font-size: 30px;"></i></a>
                    <a class="mx-3" href=""><i class="fa-brands fa-instagram" style="font-size: 30px;"></i></a>
                    <a class="mx-3" href=""><i class="fa-brands fa-tiktok" style="font-size: 30px;"></i></a>
                </p>
            </div>
        </div>
    </div>
    <div style="height: 200px;"></div>
{% endblock %}