{# this page is the framework: content is in the included file #}
{% extends "_page.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <a href="/">home</a> <i class="fa-regular fa-arrow-right-long"></i> <strong>{{ message }}</strong>
            </div>
            <div class="col-12 col-lg-4">
                <table class="float-end">
                    <tr>
                        <td>
                            <strong>Follow Jim:</strong>
                        </td>
                        <td>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_follow_toolbox d-inline-block"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            MV_REF: {{ mv-ref }}<br>
            MV_NAME_PUBLIC: <span class="mv-name_public"></span><br>
            MV_WHAT: <span class="mv-what"></span>
        </div>
    </div>
{% endblock %}