{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Terms and Conditions of Business
                </div>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="container">
            <div class="row">
                <div class="col legal">
                    <h1>
                        Jim Pirrie Limited: Terms and Conditions of Business
                    </h1>
                    <h2>
                        Definition of terms
                    </h2>
                    <p>
                        For the purposes of this document:
                    </p>
                    <p>
                        The term Training shall include training courses, seminars, workshops and coaching whether delivered face-to-face or remotely, live or recorded.
                    </p>
                    <p>
                        The term Materials shall include all hardware, software, video, images and written materials however delivered or made available and physical media.
                    </p>
                    <p>
                        The term Consultancy shall include research, specification, design and development of Training and Materials and any other advisory or supporting activity.
                    </p>
                    <p>
                        The term Services shall include Training, Materials and Consultancy.
                    </p>
                    <p>
                        The term In-House shall refer to any Services offered to a closed group of a Customers employees.
                    </p>
                    <p>
                        The terms Open or Public shall refer to any Services offered to the public.
                    </p>
                    <p>
                        The term Customer shall shall include any individual or organisation who has entered into a contract with Jim Pirrie Ltd (‘The Company’) for the supply of Services.
                    </p>
                    <p>
                        The term Delegate shall refer to any individual booked on to or attending any Public or In-House Training.
                    </p>
                    <p>
                        The term Coachee shall refer to any recipient of coaching services.
                    </p>
                    <p>
                        The term Cancellation shall refer to the cancellation by the Customer of an order for Services.
                    </p>
                    <h2>
                        Acceptance of Orders
                    </h2>
                    <p>
                        Orders must be placed by the issue of a valid purchase order or other written communication properly authorised by the Customer. Orders placed by individuals over the Internet or by email are deemed to have been properly authorised. The Company reserves the right to decline or refuse any Customer order.
                    </p>
                    <h2>
                        Payment
                    </h2>
                    <p>
                        Payment shall be made within 30 days of invoice date unless otherwise stated on the invoice. The Company reserves the right to charge interest on overdue invoices at 3% above base rate calculated on a daily basis. Payment shall be deemed to have been received only when the full amount has been credited to The Company's bank account without recourse.
                    </p>
                    <h2>
                        Delivery
                    </h2>
                    <p>
                        Where delivery of Services is made on customer premises, all responsibility for logistics rests with the Customer. In the event that facilities or any required audio/visual aids are unavailable any subsequent consequential expenses for provision of alternative facilities or audio/visual aids shall be borne by the Customer.
                    </p>
                    <p>
                        Where any dependencies on Customer staff or materials are indicated in the plan for preparation and/or delivery of Services, any expense or cost of additional effort required to meet the contracted delivery schedule consequent on failure to satisfy the dependency will be borne by the Customer.
                    </p>
                    <h2>
                       Coaching Services
                    </h2>
                    <p>
                        The Coachee is fully responsible for their behaviour during coaching sessions, and their choices and decisions about acting, or not acting, upon the content of coaching sessions.
                    </p>
                    <p>
                        The Coachee agrees to indemnify, defend, and hold their coach harmless from and against any and all liability and expenses in connection with claims for damages of any nature arising from coaching.
                    </p>
                    <p>
                        The Coachee understands and accepts that coaching is not mental health counseling, treatment for substance abuse, or promoting expertise/advice. The Coachee understands and accepts that their coach is not functioning as a licensed mental health professional and coaching is not intended as a replacement for counseling, psychiatric interventions, treatment for mental illness, recovery from past abuse, professional medical advice, financial assistance, legal counsel, or other professional services.
                    </p>
                    <p>
                        If the Coachee is currently seeking or receiving mental health services by, including but not limited to, a psychologist, social worker, therapist, or counselor, the Coachee will inform their coach of the nature of this relationship.
                    </p>
                    <p>
                        If the Coachee is currently in therapy or otherwise under the care of a mental health professional, the Coachee will consult with him/her regarding the advisability of working with a coach and will ensure this individual is aware of the Coachee's decision to proceed with the coaching relationship.
                    </p>
                    <h2>
                        Cancellation and postponement
                    </h2>
                    <p>
                        Delegate places on Open courses, seminars and workshops:
                    </p>
                    <p>
                        Cancellation within 5 working days notice or less: 100% of the invoice value remains payable.
                    </p>
                    <p>
                        Cancellation with between 6 and 15 working days: 50% of the invoice value remains payable.
                    </p>
                    <p>
                        Deposits shall be non-refundable.
                    </p>
                    <p>
                        In-House courses, seminars and workshops of one day or less:
                    </p>
                    <p>
                        Cancellation with 5 working days notice or less: 100% of the invoice value remains payable
                    </p>
                    <p>
                        Cancellation with between 6 and 15 working days: 50% of the invoice value remains payable.
                    </p>
                    <p>
                        In-House courses, seminars and workshops of more than one day:
                    </p>
                    <p>
                        Cancellation with 10 working days notice or less: 100% of the invoice value remains payable.
                    </p>
                    <p>
                        Cancellation with between 11 and 20 working days: 50% of the invoice value remains payable.
                    </p>
                    <p>
                        In the event of cancellation in full or in part by The Company, delegates may be offered places on alternative courses or refunded a pro-rata amount proportionate to the cancellation.
                    </p>
                    <p>
                        Cancellation of Consultancy contracts are accepted with no penalty up to 10 working days days before commencement of the Consultancy engagement. After that but prior to the agreed start date, a minimum cancellation fee of 10% of the price is payable in the case of a Fixed Price contract. Cancellation subsequent to the agreed start date of a Fixed Price contract renders the contract price payable for the full contract or contract stage as outlined in the tender document, whichever is applicable. Cancellation of a Time and Materials contract with less than 14 days notice renders a cancellation fee payable equivalent to the lesser of 5 days effort or 10% of the agreed estimate in addition to any time already due to be billed.
                    </p>
                    <p>
                        Coaching:
                    </p>
                    <p>
                        The Coachee may occasionally reschedule their session by telephone, email or by proposing a new date/time using their calendar application. The latter is the preferred method.
                    </p>
                    <p>
                        The Coachee will make their best reasonable endeavours to attend sessions as scheduled.
                    </p>
                    <p>
                        If the Coachee will be late for a session for any reason, the Coachee will let the coach know ahead of time.
                    </p>
                    <p>
                        In the event that the Coachee fails to attend a scheduled session, the session will still count towards the delivery of the Services.
                    </p>
                    <p>
                        Coaching sessions may not be rolled over from month to month, and in the event that the Coachee cannot attend the agreed number of sessions in a month, the agreed number of sessions remains payable.
                    </p>
                    <h2>
                        Variation of scope
                    </h2>
                    <p>
                        In the event that the Customer varies the agreed scope of any Services, any expense or cost of additional effort required to meet the requirement will be borne by the Customer.
                    </p>
                    <h2>
                        Travel, subsistence and expenses
                    </h2>
                    <p>
                        Travel and subsistence costs incurred by The Company staff or associates in the preparation and delivery of Services where it is necessary to work away from The Company offices shall be recharged at cost.
                    </p>
                    <p>
                        Time spent travelling shall be considered to be time worked on the preparation and delivery of services.
                    </p>
                    <p>
                        Any costs relating to postage, packing and/or reprographics necessarily incurred during the development and delivery of services shall be recharged at cost.
                    </p>
                    <h2>
                        Intellectual property
                    </h2>
                    <p>
                        Copyright Materials, training materials and any other intellectual property created by or owned by The Company shall remain the property of The Company unless otherwise assigned by agreement.
                    </p>
                    <p>
                        The Company also asserts its moral and legal right to ownership of any and all rights associated with physical performance elements of any training or event, including but not limited to the design of props, sets, exercises and demonstrations.
                    </p>
                    <p>
                        No recordings or photographs of any sort may be made or taken of any event, performance or training unless authorised in writing beforehand by The Company. In the event that such recording or photograph is made, with or without the knowledge of The Company, copyright in the recording performance and production shall be deemed to have been assigned to The Company in perpetuity.
                    </p>
                    <p>
                        The Customer shall take all reasonable steps to protect the intellectual property interests of The Company.
                    </p>
                    <p>
                        The Customer shall ensure that permission is sought for the inclusion of any copyright material they supply to the Company to enable them to deliver the product(s) or service(s). The Customer shall also ensure that permission is sought for the inclusion of any performers or performances, trademarks and locations. The Company retains the right to use this material in its original and edited form as it sees fit, unless otherwise agreed in writing. The Customer agrees to indemnify the Company in the event of any breach of copyright claims being brought against the Company in respect of material supplied by the Customer.
                    </p>
                    <h2>
                        Warranty
                    </h2>
                    <p>
                        All Materials are furnished as-is and with all faults and deficiencies. The Company makes no warranty to the Customer with regard to the materials including but not limited to implied merchantability or fitness for a particular purpose. There are no warranties, obligations or liabilities of The Company express or implied arising by law or otherwise with respect to any error, omission, defect, deficiency or nonconformity in any materials supplied.
                    </p>
                    <h2>
                        Suitability, substitution and attendance
                    </h2>
                    <p>
                        In the case of In-House Training, the Customer is responsible for ensuring that the background of each Delegate is suitable for the training course that he or she is attending. The Company will not be liable for any refund in the case where a Delegate does not meet the course prerequisites or proves unsuitable for the training for reasons of health, fitness, experience or any other reasonable grounds.
                    </p>
                    <p>
                        For In-House Training, suitably qualified Delegates may be removed, substituted or added by the Customer at any time prior to the start of the course, within the agreed limits on numbers.
                    </p>
                    <p>
                        Delegate places on Open or Public courses are non-transferrable except by agreement with The Company.
                    </p>
                    <p>
                        Should a Delegate miss or otherwise disrupt elements of a Training such that the purpose and effectiveness of the training is jeopardised for that Delegate or generally, The Company reserves the right to exclude the Delegate from the remainder of the Training without recourse or refund at the sole discretion of the trainer.
                    </p>
                    <p>
                        Under no circumstances shall the Customer cause or allow any represenative of any other training company, consultancy or any other organisation be admitted to the Training as observer or Delegate, except with the prior agreement and written consent of The Company.
                    </p>
                    <p>
                        The Company reserves the right to exclude any such individual or group of individuals from the Training without recourse or refund at the sole discretion of the trainer.
                    </p>
                    <p>
                        In the case that any Training is observed by any individual, such individual shall be a Customer employee and the Customer shall undertake that such individuals shall in no circumstances incorporate any techniques or exercises into other training courses except with the prior agreement and written consent of The Company.
                    </p>
                    <h2>
                        Limit of liability
                    </h2>
                    <p>
                        In no circumstances will The Company be liable to refund any amount in excess of the agreed fee for any training course or consultancy engagement. This applies in particular (but is not limited) to any travelling, subsistence or consequential expenses incurred by delegates.
                    </p>
                    <p>
                        The Company shall not under any circumstances be liable for any indirect or consequential damages however caused.
                    </p>
                    <p>
                        Whilst every reasonable care is taken in the handling of the Customer’s property, the Company accepts no responsibility whatsoever for any loss or damage, howsoever caused, or any other loss by unforeseen circumstances whilst they are in the custody of the Company. Liability for such loss or damage will be limited to the replacement cost of the materials or media and in no circumstances will any liability attach to any claim for the value of the content.
                    </p>
                    <p>
                        The Company’s liability in respect of any breach or non-performance of any order shall be limited to the refund of the invoice value to which the claim relates.
                    </p>
                    <p>
                        In the event that The Company is prevented from carrying out its obligations under a contract as a result of any cause beyond its reasonable control, such as, but not limited to, Acts of God, War, Strikes, Flood, Terrorism and Failure of third parties to deliver goods, The Company shall be relieved of its obligations and liabilities under such contract of sale for as long as such fulfillment is prevented.
                    </p>
                    <h2>
                        Applicable Laws
                    </h2>
                    <p>
                        This Agreement shall be governed by the laws of England, and the parties hereby agree to the exclusive jurisdiction of the courts of England for any adjudications other than mediation and/or arbitration as provided herein.
                    </p>
                    <p>
                        Any dispute arising out of or in connection with this agreement shall, in the first instance, be resolved by negotiation between the parties.
                    </p>
                    <p>
                        If such negotiation is unsuccessful, the dispute shall be referred to a mediator for resolution.
                    </p>
                    <p>
                        The parties shall attempt to agree upon the appointment of a mediator, upon receipt, by either of them, of a written notice to concur in such appointment. Should the parties fail to agree within fourteen days, either party, upon giving written notice, may apply to the President or the Vice President, for the time being, of the Chartered Institute of Arbitrators, for the appointment of a mediator.
                    </p>
                    <p>
                        Should the mediation fail, in whole or in part, either party may, upon giving written notice, and within twenty-eight days thereof, apply to the President or the Vice President, for the time being, of the Chartered Institute of Arbitrators, for the appointment of a single arbitrator, for final resolution. The arbitrator shall have no connection with the mediator or the mediation proceedings, unless both parties have consented in writing. The arbitration shall be governed by both the Arbitration Act 1996 and the Controlled Cost Rules of the Chartered Institute of Arbitrators (2014 Edition), or any amendments thereof, which Rules are deemed to be incorporated by reference into this clause.
                    </p>
                    <p>
                        The seat of the mediation and/or arbitration shall be England and Wales.
                    </p>
                    <p>
                        Each party shall bear one half of the mediation and/or arbitration fees and costs incurred, and each party is responsible for its own legal fees, unless the mediator(s) and/or arbitrator(s) agree that the case was without reasonable basis in law or fact, in which case costs and legal fees may be awarded to the prevailing party. All Your claims must be mediated and/or arbitrated on an individual complainant basis, and cannot be consolidated in any mediation or arbitration with any claim or complaint of any other party or parties, except as agreed upon in a writing signed by the Company.
                    </p>
                    <h2>
                        Entire Agreement
                    </h2>
                    <p>
                        This Agreement, together with The Company’s Privacy Policy which forms part of it, constitutes the entire agreement between You and the Company with respect to this subject matter and supersedes all prior and contemporaneous representations, proposals, and agreements in relation thereto. No waiver or amendment of any provision of this Agreement shall be effective unless made in writing and signed by both parties. No failure or delay in exercising any right, power, or remedy under this Agreement shall operate as a waiver of any such right, power or remedy. If any part of this Agreement is determined by a court of competent jurisdiction to be invalid or unenforceable, that part shall be limited or eliminated to the minimum extent necessary so that the remainder of this Agreement shall be fully enforceable and legally binding so as to preserve the intent and agreement of the parties to the maximum extent possible.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}