{% extends "_page.html.twig" %}
{% block content %}
    <div class="sectionHeadStripe">
        <div class="container">
            <div class="row">
                <div class="col">
                    Website Terms of Use
                </div>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="container">
            <div class="row">
                <div class="col legal">
                    <h1>
                        Jim Pirrie Limited: Website Terms of Use
                    </h1>
                    <p>
                        The term 'Jim Pirrie Limited' or 'us', ‘our’ or 'we' refers to the owner of the website whose company is Jim Pirrie limited, registered in England and Wales, company number 04294627.
                    </p>
                    <p>
                        The term 'you' refers to the user or viewer of our website.
                    </p>
                    <p>
                        Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
                    </p>
                    <h2>
                        The use of this website is subject to the following terms of use:
                    </h2>
                    <p>
                        The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                    </p>
                    <p>
                        Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                    </p>
                    <p>
                        Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                    </p>
                    <p>
                        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                    </p>
                    <p>
                        All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
                    </p>
                    <p>
                        Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
                    </p>
                    <p>
                        From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
                    </p>
                    <p>
                        Your use of this website and any dispute arising out of such use of the website shall be governed by the laws of England, and the parties hereby agree to the exclusive jurisdiction of the courts of England for any adjudications other than mediation and/or arbitration as provided herein.
                    </p>
                    <p>
                        Any dispute arising out of or in connection with this agreement shall, in the first instance, be resolved by negotiation between the parties.
                    </p>
                    <p>
                        If such negotiation is unsuccessful, the dispute shall be referred to a mediator for resolution.
                    </p>
                    <p>
                        The parties shall attempt to agree upon the appointment of a mediator, upon receipt, by either of them, of a written notice to concur in such appointment. Should the parties fail to agree within fourteen days, either party, upon giving written notice, may apply to the President or the Vice President, for the time being, of the Chartered Institute of Arbitrators, for the appointment of a mediator.
                    </p>
                    <p>
                        Should the mediation fail, in whole or in part, either party may, upon giving written notice, and within twenty-eight days thereof, apply to the President or the Vice President, for the time being, of the Chartered Institute of Arbitrators, for the appointment of a single arbitrator, for final resolution. The arbitrator shall have no connection with the mediator or the mediation proceedings, unless both parties have consented in writing. The arbitration shall be governed by both the Arbitration Act 1996 and the Controlled Cost Rules of the Chartered Institute of Arbitrators (2014 Edition), or any amendments thereof, which Rules are deemed to be incorporated by reference into this clause.
                    </p>
                    <p>
                        The seat of the mediation and/or arbitration shall be England and Wales.
                    </p>
                    <p>
                        Each party shall bear one half of the mediation and/or arbitration fees and costs incurred, and each party is responsible for its own legal fees, unless the mediator(s) and/or arbitrator(s) agree that the case was without reasonable basis in law or fact, in which case costs and legal fees may be awarded to the prevailing party. All your claims must be mediated and/or arbitrated on an individual complainant basis, and cannot be consolidated in any mediation or arbitration with any claim or complaint of any other party or parties, except as agreed upon in a writing signed by the Company.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}