{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Workshops</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row mt-2">
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                    </div>
                </div>
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-negotiation-influence-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                    </div>
                </div>
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-strategic-decision-making"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                    </div>
                </div>
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                    </div>
                </div>
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                    </div>
                </div>
                <div class="col-2 text-center p-1">
                    <div class="workshops_bar_item">
                        <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-5">
                <div class="col">
                    <h1 class="py-0">
                        Professional Development Workshops
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        One-to-one coaching is a powerful asset in your professional development journey.
                    </p>
                    <p>
                        But it's only half the story.
                    </p>
                    <p>
                        Because to truly get the best from yourself and those around you, it's important to invest in the essential core skills that underpin personal effectiveness and interpersonal relationships in your professional environment.
                    </p>
                    <p>
                        And that's the purpose of these workshops
                    </p>
                    <p>
                        The workshops work together to address the most sought-after skills and personal attributes in any professional environment:
                    </p>
                    <ul>
                        <li>
                            <h5>Confidence and Self-Assurance</h5>
                            <p>
                                ...in meetings, when making presentations, in managing workload, in negotiating.
                            </p>
                        </li>
                        <li>
                            <h5>Clarity of Expression</h5>
                            <p>
                                ...written and spoken.
                            </p>
                        </li>
                        <li>
                            <h5>Negotiation and Influence</h5>
                            <p>
                                ...understanding and overcoming objections, in internal and client-facing situations, from delegation, through getting ideas adopted, to making sales.
                            </p>
                        </li>
                        <li>
                            <h5>Strategic Decision Making</h5>
                            <p>
                                ...making personal and business decisions based on clarity and well-informed insight'
                            </p>
                        </li>
                        <li>
                            <h5>Self-Management</h5>
                            <p>
                                ...delivering results, managing personal boundaries and making the best use of the people and resources available.
                            </p>
                        </li>
                    </ul>
                    <p>
                        These workshops are highly interactive and experiential, built on tools and techniques drawn from business school, theatre training, storytelling, group dynamics, professional video production, marketing, sales and negotiation. They are also founded on years of experience working in and with blue-chip organisations in business management, team leadership, project management, product development, coaching and creating and delivering training courses for some of the most demanding groups of business professionals in the world.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="/workshop-foundations-of-professional-effectiveness"><img class="img-fluid" src="/_images/workshops/root.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="/workshop-foundations-of-professional-effectiveness">Foundations of Professional Effectiveness...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    Professionalism is about more than technical expertise: it's equally about self-belief and confidence, clarity, and knowing how to hold your own under pressure.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    In this workshop you'll explore why some people come across as authoritative and professional, and others don't. You'll experience practical ways of building your own personal and professional self-assurance, and become better prepared to make a name for yourself as a safe and professional pair of hands...
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="/workshop-foundations-of-professional-effectiveness">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="/workshop-negotiation-influence-and-sales"><img class="img-fluid" src="/_images/workshops/handshake.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="/workshop-negotiation-influence-and-sales">Negotiation, Influence & Sales...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    Some people's blood run cold at the word 'selling': but the skills of discovery, negotiation, influence, persuasion and closing are at the heart of almost all professional conversations.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    In this workshop you'll learn the core skills that not only underpin business growth, but also allow effective business conversations at every level, from client meetings through delegation to peer collaboration and managing everyday workload demands...
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="/workshop-negotiation-influence-and-sales">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="workshop-strategic-decision-making"><img class="img-fluid" src="/_images/workshops/helicopter.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="workshop-strategic-decision-making">Strategic Decision Making...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    The business world is full of contradicting viewpoints, covert agendas and innocently unspoken but vital information. As a professional you need to navigate through the noise and fog to challenge assumptions, reach your own conclusions and make well-founded strategic decisions.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    In this workshop you'll experience using classic business strategy tools to analyse situations; see the bigger picture; help you filter out fact from fiction; help you to ask better questions; take a view; and reach your own well-informed judgements…
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="workshop-strategic-decision-making">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="workshop-writing-like-a-professional"><img class="img-fluid" src="/_images/workshops/story.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="workshop-writing-like-a-professional">Writing like a Professional...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    Business writing is profoundly different from what we had drummed into us at school and university: it's not about marks and grades - it's about purpose, clarity, persuasion and trust.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    In this workshop you'll learn the thinking processes and practical techniques that underpin purposeful, readable and effective business documents: from client proposals through project deliverables to website copy, the same essential principles are common to all...
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="workshop-writing-like-a-professional">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="workshop-presenting-like-a-professional"><img class="img-fluid" src="/_images/workshops/presenter.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="workshop-presenting-like-a-professional">Presenting like a Professional...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    Presenting is a crucial professional skill, but too many people use PowerPoint as a crutch, or hide behind it. Here's the truth: it's really about presence and authority when you're on your feet.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    In this workshop you'll draw on theatre training, group dynamics, impro and storytelling to build your presence and authority: you'll learn how to get confident on your feet, how to engage with your audience, and what to do when things get tricky! And then there’s Video…
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="workshop-presenting-like-a-professional">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pt-4">
                    <div class="course_summary_box">
                        <table class="w-100">
                            <tr>
                                <td class="w-50 course_summary_image_cell">
                                    <a href="/workshop-follow-up-coaching"><img class="img-fluid" src="/_images/workshops/head.png"></a>
                                </td>
                                <td class="course_summary_title_cell">
                                    <a href="/workshop-follow-up-coaching">One-to-One Follow-Up Coaching...</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_lead_cell">
                                    Experiential workshops like these are a first-class way to learn new skills and to put them into practice in a safe group environment. The next step is to use them in real life.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_copy_cell">
                                    It takes commitment and practice to fully integrate any new behaviour and it's easy to fall back to the comfortable and familiar old way. The support of a coach is the best way to accelerate that integration process and ensure you get the best practical benefit from your new skills...
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="course_summary_link_cell">
                                    <a href="/workshop-follow-up-coaching">more...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-5">
                        <strong>Practicalities</strong>
                    </p>
                    <p>
                        These workshops can be run in-house for your teams, or we run them publicly from time to time as demand dictates.
                    </p>
                    <div style="height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}