{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Professional Development Workshops</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-negotiation-mediation-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item_active">
                    <img class="w-100" src="/_images/workshops/helicopter.png">
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Workshop: Strategic Analysis
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/helicopter.png">
                <p class="workshop_page_lead pt-4">
                    The business world is full of contradicting viewpoints, covert agendas and innocently unspoken but vital information. As a professional you need to fill the gaps and navigate the noise to reach your own conclusions.
                </p>
                <p class="workshop_page_summary">
                    In this workshop you'll experience using classic business analysis tools to analyse situations; see the bigger picture; help you filter out fact from fiction; help you to ask better questions; take a view; and make your own decisions…
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}