{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Professional Development Workshops</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2 text-center">
                <div class="workshops_bar_item_active">
                    <img class="w-100" src="/_images/workshops/root.png">
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-negotiation-mediation-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-strategic-analysis"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Workshop: Foundations of Professional Effectiveness
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/root.png">
                <p class="workshop_page_lead pt-4">
                    Professionalism is about more than technical expertise: it's equally about self-belief and confidence, and knowing how to hold your own under pressure.
                </p>
                <p class="workshop_page_summary">
                    In this workshop you'll explore why some people come across as authoritative and professional, and others don't. You'll experience practical ways of building your own personal and professional self-assurance, and become better prepared to make a name for yourself as a safe and professional pair of hands...
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}