{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Professional Development Workshops</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-negotiation-mediation-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-strategic-analysis"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item_active">
                    <img class="w-100" src="/_images/workshops/presenter.png">
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-follow-up-coaching"><img class="w-100" src="/_images/workshops/head.png"></a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Workshop: Presenting Like A Professional
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/presenter.png">
                <p class="workshop_page_lead pt-4">
                    Presenting is a crucial professional skill, but too many people use PowerPoint as a crutch, or hide behind it. Here's the truth: it's really about presence and authority when you're on your feet.
                </p>
                <p class="workshop_page_summary">
                    In this workshop you'll draw on theatre training, group dynamics, impro and storytelling to build your presence and authority: you'll learn how to get confident on your feet, how to engage with your audience, and what to do when things get tricky! And then there’s Video…
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}