{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Workshops</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mb-5">
                        Professional Development Workshops
                    </h1>
                    <p>
                        One-to-one coaching is a powerful asset in your professional development journey.
                    </p>
                    <p>
                        But it's only half the story.
                    </p>
                    <p>
                        Because to truly get the best from yourself and those around you, it's important to invest in the essential core skills that underpin personal effectiveness and interpersonal relationships in your professional environment.
                    </p>
                    <p>
                        And that's the purpose of these workshops
                    </p>
                    <p>
                        The topics have been carefully selected to make the most impact for you in as many situations as possible, and to support you in your professional journey.
                    </p>
                    <p>
                        These workshops are built on tools and techniques drawn from business school, theatre training, storytelling, group dynamics, professional video production, marketing, selling and negotiation. They are also founded on years of experience working in and with blue-chip organisations in business management, team leadership, project management, product development, coaching and creating and delivering training courses for some of the most demanding groups or business professionals in the world:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col px-5">
                    <h5 class="pt-5"><i class="fa-duotone fa-person-chalkboard" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Presentation Skills</h5>
                    <p>
                        Whether it's to colleagues, management or clients, the ability to present effectively is a core skill for any business professional. And it's not all about PowerPoint. In these unique workshops we do more than give you simple tips and tricks - we draw on a number of fields to help you build an instantly credible stage presence and authority:
                    </p>
                    <ul>
                        <li>Theatre school training</li>
                        <li>Voice coaching</li>
                        <li>Group dynamics</li>
                        <li>Storytelling</li>
                        <li>Theatrical impro</li>
                        <li>Neuro-Linguistic Programming</li>
                    </ul>
                    <p>
                        And while these highly interactive workshops can be run in a large conference room, I've found that the workshops have the best impact when I make use of the unique atmosphere of a real theatre as the venue..
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-screencast" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Presenting to Video</h5>
                    <p>
                        The world has moved on, and the skills of presenting in person are no longer enough.
                    </p>
                    <p>
                        Video, both recorded and live, is now such a powerful medium in business that it has become equally important to learn the skills of presenting confidently and authoritatively on video.
                    </p>
                    <p>
                        Many traditional 'presentation skills' are redundant in the context of a video, but other skills become essential in their place:
                    </p>
                    <ul>
                        <li>You see so many different style of presenting to video. Which approach should you use in which situations?</li>
                        <li>What's the secret to appearing confident and authoritative on video?</li>
                        <li>What are the common, little-known mistakes that instantly diminish your impact and authority?</li>
                        <li>Poor audio kills any possibility of being seen as professional. You need to make sure your audio doesn't let you down</li>
                        <li>Poor lighting does the same. You need to know the basics of video lighting and the minimal kit you need to make it work.</li>
                        <li>What about cameras? What sort of camera should you be using? Where should you put it? You've probably got all you need - but knowing what to do with it makes all the difference.</li>
                        <li>And with so many options for recording video, what approach makes the most sense? And what about editing and rendering?</li>
                    </ul>
                    <p>
                        The practical, hands-on nature of these workshops mean that they are best run in very small groups. I can run them here in my professional-quality video studio in Sussex, or I can set up in a reasonably-sized conference room.
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-magnifying-glass-chart" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Business Analysis</h5>
                    <p>
                        In these workshops we, as a group, use business analysis and strategic marketing tools to explore current industry developments, with a view to helping the group get up to speed on how business works from a strategy/policy viewpoint.
                    </p>
                    <p>
                        The aim is also to equip them with a toolkit that would mean they could each quickly analyse and form a view on specific new situations when they arise.
                    </p>
                    <p>
                        We can take a single full day to do this, or we could run a number of, say, two-hour sessions. All we need for these sessions is a meeting room.
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-people-group" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Understanding Group Dynamics</h5>
                    <p>
                        Understanding the power of groups, how they work and how to work with them (detailed copy coming soon - contact us for details).
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-comments" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Interpersonal Communication Skills</h5>
                    <p>
                        How people communicate, and how to build the insight and flexibility that gives you the best chance of getting youir message across (detailed copy coming soon - contact us for details).
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-seedling" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Personal Development</h5>
                    <p>
                        Understanding their own behavioural preferences, how those might affect personal and professional life, and strategies for change (detailed copy coming soon - contact us for details).
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-lightbulb-on" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Personal Marketing</h5>
                    <p>
                        How to make a name for yourself in the industry (detailed copy coming soon - contact us for details).
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-arrow-up-right-dots" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Business Marketing and Sales</h5>
                    <p>
                        How to attract and close business opportunities (detailed copy coming soon - contact us for details).
                    </p>
                    <h5 class="pt-5"><i class="fa-duotone fa-handshake-angle" style="font-size: 30px;"></i> &nbsp;&nbsp;&nbsp; Negotiation Skills</h5>
                    <p>
                        How to successfully reach win-win negotiated agreements (detailed copy coming soon - contact us for details).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-5">
                        <strong>Practicalities</strong>
                    </p>
                    <p>
                        These workshops can be run in-house for your teams, or we run them publicly from time to time as demand dictates.
                    </p>
                    <div style="height: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}