{% extends "_page.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
            <div class="page-banner-content">
                <h1>Professional Development Workshops</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col pt-5">
                    <h5>Presentation Skills</h5>
                    <p>

                    </p>
                    <h5>Presenting to Video</h5>
                    <p>

                    </p>
                    <h5>Business Analysis</h5>
                    <p>
                        use business analysis and strategic marketing tools to explore current industry developments, with a view to helping the team get up to speed on how the industry works from a strategy/policy viewpoint, as well as equipping them with a toolkit that would mean they could each quickly analyse and form a view on specific new situations when they arise. We could take a single full day to do this, or we could run a number of, say, two-hour sessions. All we need for these sessions is a meeting room.
                    </p>
                    <h5>Understanding Group Dynamics</h5>
                    <p>

                    </p>
                    <h5>Interpersonal Communication Skills</h5>
                    <p>

                    </p>
                    <h5>Personal Development</h5>
                    <p>
                        understanding their own behavioural preferences, how those might affect personal and professional life, and strategies for change
                    </p>
                    <h5>Personal Marketing</h5>
                    <p>
                        how to make a name for yourself in the industry
                    </p>
                    <h5>Business Marketing and Sales</h5>
                    <p>
                        how to attract and close business opportunities
                    </p>
                    <h5>Negotiation Skills</h5>
                    <p>

                    </p>
                    <div style="height: 100px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}