{% extends "_page.html.twig" %}
{% block content %}
<div class="row">
    <div class="col page-banner" style="background-image: url('/_images/carousel-viaduct.png');">
        <div class="page-banner-content">
            <h1>Professional Development Workshops</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-foundations-of-professional-effectiveness"><img class="w-100" src="/_images/workshops/root.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-negotiation-mediation-and-sales"><img class="w-100" src="/_images/workshops/handshake.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-strategic-analysis"><img class="w-100" src="/_images/workshops/helicopter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-writing-like-a-professional"><img class="w-100" src="/_images/workshops/story.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item">
                    <a href="/workshop-presenting-like-a-professional"><img class="w-100" src="/_images/workshops/presenter.png"></a>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="workshops_bar_item_active">
                    <img class="w-100" src="/_images/workshops/head.png">
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col">
                <h1 class="py-0">
                    Follow-Up Coaching
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="float-left w-25 mr-5" src="/_images/workshops/head.png">
                <p class="workshop_page_lead pt-4">
                    Experiential workshops like these are a first-class way to learn new skills and to put them into practice in a safe group environment. The next step is to use them in real life.
                </p>
                <p class="workshop_page_summary">
                    It takes commitment and practice to fully integrate any new behaviour and it's easy to fall back to the comfortable and familiar old way. The support of a coach is the best way to accelerate that integration process and ensure you get the best practical benefit from your new skills...
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}