body{

    background-color: white;
    font-family: 'open sans',sans-serif;
}

h1{

    padding-top: 40px;
    font-size: 30px;
    font-weight: 400;
}

h2{

    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}

a{

    text-decoration: none;
    color: blue;
}

a:hover{

    text-decoration: underline;
}

.em{

    font-style: italic;
}

.fredericka{

    font-family: fredericka the great,fantasy;
}

.fontSize-15{

    font-size: 15px;
}

.fontSize-20{

    font-size: 20px;
}

.fontSize-25{

    font-size: 25px;
}

.fontSize-35{

    font-size: 35px;
}


.header{

    background-color: rgba(245, 245, 245, 1);
    height: 140px;
}

.modalTriggerSpan{

    cursor: pointer;
    color: blue;
}

.modalTriggerSpan:hover{

    text-decoration: underline;
}

/********************** Container Classes */

.content{

    background-color: white;
    color: darkslategray;
}

/********************** Nav Bar */

.navbar{

    background-color: rgba(245, 245, 245, 0.8);
    font-weight: 300;
    height: 120px;
    border-bottom: solid lightgray 1px;
}

#navbarNavDropdown{

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(100, 100, 100, 0.9);
}

#navbarNavDropdown .active>.nav-link{

    font-weight: 500!important;
}

.nav-item a{

    color: whitesmoke!important;
}

.nav-item a:hover{

    color: white!important;
    background-color: teal;
}

.nav-link{

    padding: 10px 20px;
    margin: 0 10px;
    transition: 0.5s;
}

/******************** Carousel */

.carousel-item{

    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-indicators{

    cursor: pointer;
}

.carousel button{

    background-color: rgba(0, 0, 0, 40%);
    border: none;
    opacity: 100;
    width: 50px;
}

.carousel button:hover{

    background-color: rgba(0, 0, 0, 80%);
}

.carousel-caption-content{

    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
    max-width: 500px;
}

.sectionHeadStripe{

    background-color: black;
    color: white;
    font-family: fredericka the great,fantasy;
    font-size: 35px;
    padding: 20px 0;
}

.pdc{

    background-color: #D9E020;
}

.mcfc{

    background-color: #8FFF59;
}

.footer{

    font-size: 15px;
    font-weight: 200;
    background-color: lightslategray;
    color: whitesmoke;
}

.footer a{

    color: white;
}

.base{

    background-color: white;
}

.legal{

    background-color: white;
    padding: 7% 15%;
}

.legal p{

    font-size: 15px;
    font-weight: 200;
}

.legal ul{

    padding-left: 15%;
    font-size: 15px;
    font-weight: 200;
}

.notFound{

    background-color: peru;
}

#speechBubble_Online{

    margin-top: 10%;
    background-image: url("/_images/speechBubble_Online.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: ease-in-out 400ms;
}

#speechBubble_Online:hover{

    background-image: url("/_images/speechBubble_Online_Hover.png");
}

#speechBubble_Coaching{

    background-image: url("/_images/speechBubble_Coaching.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in-out 400ms;
}

#speechBubble_Coaching:hover{

    background-image: url("/_images/speechBubble_Coaching_Hover.png");
}

#speechBubble_Training{

    margin-top: -20px;
    background-image: url("/_images/speechBubble_Training.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in-out 400ms;
}

#speechBubble_Training:hover{

    background-image: url("/_images/speechBubble_Training_Hover.png");
}

.videoStripe{

    background-color: white;
    color: white;
}

.box-16x9{

    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    background: darkslategray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    z-index: 0;
}

.videoThumbnailOverlay{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    background-image: url("/_images/videoPlayOverlay_normal.png");
    z-index: 20;
}

.videoThumbnailOverlay:hover{

    background-image: url("/_images/videoPlayOverlay_hover.png");
}

.box-inner{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-content{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-border{

    border: solid dodgerblue 3px;
}

.page-banner{

    background-position: center;
    background-size: cover;
    height: 300px;
}

.page-banner-content{

    margin: auto;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin-top: 75px;
    padding-bottom: 40px;
}

.course_summary_box{

    border: solid gray 1px;
    border-radius: 5px;
    height: 550px;
}

.course_summary_image_cell{

    height: 180px;
    padding: 20px;
}

.course_summary_title_cell{

    padding-right: 20px;
    font-size: 22px;
    font-weight: bold;
}

.course_summary_title_cell a{

    color: midnightblue;
}

.course_summary_lead_cell{

    font-weight: normal;
    padding: 0 20px 20px 20px;
    vertical-align: top;
}

.course_summary_copy_cell{

    font-weight: lighter;
    font-style: italic;
    padding: 0 20px 0 20px;
    vertical-align: top;
}

.course_summary_link_cell{

    font-weight: lighter;
    padding: 0 20px 20px 20px;
    text-align: right;
}

.workshops_bar_item{


    padding: 10%;
    border-radius: 50%;
    transition: padding 1s,background 0.5s;
}

.workshops_bar_item_active{

    padding: 0;
    border-radius: 50%;
    background-color: whitesmoke;
}

.workshops_bar_item:hover{

    padding: 0;
    background-color: whitesmoke;
}

.workshop_page_lead{

    font-size: 20px;
}

.workshop_page_summary{

    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

.blog-sidebar{

    border-radius: 5px;
    padding: 20px 10px;
    background-color: lightgray;
}

.blog-byline{

    padding: 30px 0;
}

.blog-lede{

    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    width: 75%;
    float: right;
}

.blog-authorImg{

    width: 20%;
    float: left;
}

.blog-image{

    width: 100%;
    margin-bottom: 30px;
}

.blog-content{

    margin-bottom: 30px;
}

ul, ol{

    width: 75%;
    margin:auto;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .course_summary_box{
        height: 600px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    #navbarNavDropdown{

        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(100, 100, 100, 0);
    }

    .nav-item a{

        color: darkslategray!important;
    }

    .nav-item a:hover{

        background-color: teal;
    }

    .course_summary_box{
        height: 650px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .course_summary_box{
        height: 550px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}